[2018-07-15 13:29] Jaeyoung-Lim opened #2 "[Feature] Trajectory Generation"
[mav_trajectory_generation](https://github.com/ethz-asl/mav_trajectory_generation) looks like a good framework for the 'generation' of trajectories.

A demo example and necessary interfaces should be created
- [ ] Try trajectory generation
- [x] Create interface for trajectory representation
- [ ] Verify this is working together

[2018-08-25 17:06] Jaeyoung-Lim opened #3 "Bug: Get rid of unneeded dependencies"
The package currently depends on multiple packages that are not necessary.
The following packages should not be a dependency
- [x] kindr

[2018-08-25 17:12] Jaeyoung-Lim opened #4 "Bug: parameters are not loading"

[2018-08-25 17:45] #4 closed

[2018-10-07 19:03] #3 closed

[2018-10-08 05:30] Jaeyoung-Lim opened #16 "[Feature] Test Reverse thrust enabled controller on MAVROS"
Reverse thrust is supported by PX4 and MAVROS setpoints.

This will enable more aggressive flights along the trajectory

[2018-10-09 07:34] Jaeyoung-Lim opened #18 "[Feature] Enable Simple shape trajectories"

[2018-10-09 07:35] Jaeyoung-Lim opened #19 "[Feature] Improve installation experience with rosinstall"

[2018-10-09 07:35] Jaeyoung-Lim opened #20 "Documentation is now out of date"

[2018-10-10 21:32] Jaeyoung-Lim opened #21 "Improve on trajectory class structure"
Currently the trajectory class structure is a mess. We need to have a clear distinction between the shape based trajectories and polynomial based trajectories.

One way to do this is to introduce a subclass of the trajectory class to polynomials and shapes

[2018-10-14 07:31] #21 closed

[2018-10-14 13:15] #18 closed

[2018-10-14 14:10] #20 closed

[2018-10-30 15:02] weiqil opened #34 "How to use this code"
Hi,
Thank you for your sharing of this work. It does help me to understand the papers much. But when I try to run this code on my computer, there comes some errors.
I type this command:
roslaunch geometric_controller trajectory_track_circle.launch
 Part of the output is:
UAV autoquad icarous matrixpilot paparazzi slugs standard uAvionix ualberta
[ INFO] [1540910990.048991065]: MAVROS started. MY I

[2018-10-31 05:30] Jaeyoung-Lim commented on #34
@weiqil Thanks for the interest,

I guess the repo is currently badly documented. I will include a brief tutorial on how to setup the environment. The current simulation is based on the [PX4 SITL](https://dev.px4.io/en/simulation/#sitl-simulation-environment)

It seems like your SITL is not running properly, as in this [document](http://dev.px4.io/en/simulation/ros_interface.html)

You need to che

[2018-10-31 17:05] Jaeyoung-Lim commented on #34
@weiqil There seems to be something wrong with your firmware installation.

Try
[code]

[2018-11-12 06:31] ScoobyCodes opened #36 "Please tell How to run this code?"
Please Provide documentation with steps to run this Code. I have succesfully installed and tested Ros px4 And mavros.
But I am still unable to run this code. Maybe I am doing something wrong.

[2018-11-12 08:39] Jaeyoung-Lim commented on #36
@ScoobyCodes This repo is lacking documentation as I wasn't expecting more people to use this.

I will update the documentation within today thanks

[2018-11-12 15:11] #34 closed

[2018-11-12 15:13] Jaeyoung-Lim commented on #36
@ScoobyCodes  I have updated the Readme

Please let me know if you have more questions, Thanks

[2018-11-12 15:13] #36 closed

[2018-11-21 10:31] Jaeyoung-Lim commented on #36
@ScoobyCodes Could you confirm that this is working for you?

[2018-11-21 10:32] Jaeyoung-Lim commented on #34
@weiqil Could you confirm that the comment solved your problem?

[2018-11-23 03:39] weiqil commented on #34
@Jaeyoung-Lim
Hi,
 Sorry I'm late reply.  Indeed, I can not run the code by  the launch file  all the time.　
$ roslaunch geometric_controller trajectory_track_circle.launch
  parts of the output are:

process[sitl-5]: started with pid [5422]
INFO  [Unknown] PX4 daemon already running for instance 0 (Resource temporarily unavailable)
process[gazebo-6]: started with pid [5423]
process[gazebo_gui-7]:

[2019-01-10 04:22] Jaeyoung-Lim opened #39 "PX4 Offboard mode supports velocity feedforward reference"
PX4 Offboard flightTask [supports](https://github.com/PX4/Firmware/blob/dae7c5610963a557c73fd74a9074bf5eb477ac26/src/lib/FlightTasks/tasks/Offboard/FlightTaskOffboard.cpp#L196 ) velocity feedforward inputs. It would be interesting to compare the performance with the controllers implemented

[2019-02-19 03:18] marcusabate opened #41 "New Firmware Problems"
Hello,

I am using your implementation of the geometric controller for the px4 to control a drone in simulation and hopefully in real experiments. However, I'm running into a few issues related to px4 Firmware, Mavros etc.

Using the most up-to-date version of the px4 Firmware and of mavros causes several issues with this package. To begin, using the gcs_url default argument you specify in every l

[2019-02-19 16:16] marcusabate commented on #41
@Jaeyoung-Lim I am building from source.

[2019-02-20 08:08] Jaeyoung-Lim commented on #41
@marcusabate Okay cool. I will be able to look into this during the weekend. Contributions would also be welcome!

[2019-02-20 08:16] Jaeyoung-Lim commented on #41
@marcusabate Okay cool. I will be able to look into this during the weekend.

[2019-03-01 11:22] Jaeyoung-Lim commented on #41
@marcusabate I have made a fix for this. Could you confirm that this is working for you?

[2019-03-01 15:10] Jaeyoung-Lim opened #49 "[TODO] Fix the service interface"
Triggering the controls on the service is not being utilized properly. Lets fix this

[2019-03-04 12:42] Jaeyoung-Lim opened #54 "[Bug] Gitlab CI is failing"
Gitlab CI is now failing due to recent updates with rosinstall
https://gitlab.com/Jaeyoung-Lim/mavros_controllers/commit/7e196dd91d5b14892161dbceb4884395ddfae10a/pipelines?ref=master

[2019-03-04 13:06] #54 closed

[2019-03-04 19:50] #39 closed

[2019-03-04 19:50] Jaeyoung-Lim commented on #19
This is more or less done with `dependencies.rosinstall` closing

[2019-03-04 19:50] #19 closed

[2019-03-05 06:59] marcusabate commented on #41
@Jaeyoung-Lim I can confirm that this is working with gazebo_states enabled.

However, if I disable gazebo_states and rely on /mavros/local_position/..., the drone behaves erratically. This is because /mavros/local_position/velocity is not publishing any data on my machine. I'm not sure if this is something that mavros master has updated or if this is just me. I'll be taking a look later this week

[2019-03-05 09:16] Jaeyoung-Lim commented on #41
@marcusabate I realized that too.

I tried to dig in but it seems to be somewhere related to this PR: https://github.com/mavlink/mavros/pull/1121 but doesn't seem obvious why this would change the coordinate frame.

The wierd behavior with local estimates were also what I am observing. I would like to look into this but

[2019-03-05 15:23] marcusabate commented on #2
@Jaeyoung-Lim I've been working on a project utilizing [waypoint_navigator](https://github.com/ethz-asl/waypoint_navigator) as the framework for generating trajectories. You may remember michaelkapteyn did this as well.

If you'd like to take a look at [my fork](https://github.com/marcusabate/mavros_controllers) you'll see the necessary changes to implement this. I can create a pr if you'd like.

[2019-03-05 15:47] Jaeyoung-Lim commented on #2
@marcusabate That is a nice implementation! A PR will be appreciated :smile:

[2019-03-06 05:23] #41 closed

[2019-03-09 07:35] shivamgarg1901 opened #58 "Reason for the error"
Hi Jaeyoung-Lim!
I tried to run the code as explained in the repository.The packages builds up perfectly but when I  use the roslaunch command then it shows one error which is as under-
[mavros-4] process has died [pid 10798, exit code -11, cmd /home/shivam/catkin_ws1/devel/lib/mavros/mavros_node __name:=mavros __log:=/home/shivam/.ros/log/9ef07a40-423d-11e9-b232-707781c0679d/mavros-4.log].
log fi

[2019-03-09 09:14] Jaeyoung-Lim commented on #58
@shivamgarg1901 Thank you for the kind words

Could you clarify on which launch file you used?

[2019-03-09 09:58] shivamgarg1901 commented on #58
roslaunch geometric_controller trajectory_track_circle.launch
After executing above command I got the error on the terminal.
![Screenshot from 2019-03-09 15-24-04](https://user-images.githubusercontent.com/25364311/54069611-a18a8380-427f-11e9-8ab1-cf4eab798aa3.png)
Also after executing the command roslaunch mavros px4.launch.I got the error on the terminal similar to the above
![Screenshot from 20

[2019-03-09 09:59] Jaeyoung-Lim commented on #58
Are you trying to connect to the fcu on USB?

[2019-03-09 10:35] shivamgarg1901 commented on #58
No I just want to do it on gazebo.

[2019-03-09 10:36] Jaeyoung-Lim commented on #58
@shivamgarg1901 Your log says your launchfile is configured to connect to USB

[2019-03-09 10:49] shivamgarg1901 commented on #58
I followed this link https://dev.px4.io/en/ros/mavros_installation.html
Is there any way I can remove the existing mavros and reinstall the new one which will fulfill my requirement?

[2019-03-09 10:50] Jaeyoung-Lim commented on #58
@shivamgarg1901 My question was more on if you installed it from source or the binary using `apt` as the binary package is outdated.

[2019-03-09 10:52] shivamgarg1901 commented on #58
Yes I did the binary installation.

[2019-03-09 10:56] Jaeyoung-Lim commented on #58
@shivamgarg1901 You need to install it from source. Sorry for not being clear on the documentation. This was due to a recent regression on the mavros side.

[2019-03-09 11:07] shivamgarg1901 commented on #58
It's completely fine can you please give me the sequence of commands to do source installation? Also How could I get rid of that already installed binary mavros?

[2019-03-09 11:12] Jaeyoung-Lim commented on #58
@shivamgarg1901 It is in the documentation you were referring to. To remove, try

[code]

[2019-03-11 08:24] shivamgarg1901 commented on #58
![Uploading Screenshot from 2019-03-11 13-46-09.png…]()
I did the source installation of the mavros so the previous errors are now removed but now the terminal shows this error.How could I handle this error.Please help.

[2019-03-11 08:25] shivamgarg1901 commented on #58
![Uploading Screenshot from 2019-03-11 13-46-09.png…]()
I did the source installation of the mavros so the previous errors are now removed but now the terminal shows this error.How could I handle this error.Please help.

[2019-03-11 08:28] shivamgarg1901 commented on #58
![Screenshot from 2019-03-11 13-46-09](https://user-images.githubusercontent.com/25364311/54109710-66b25800-4405-11e9-8949-7ad234bb6fea.png)
I did the source installation of the mavros so the previous errors are now removed but now the terminal shows this error.How could I handle this error.Please help.

[2019-03-11 09:28] Jaeyoung-Lim commented on #58
@shivamgarg1901 Somehow the geometric controller launchfile is not reading the config file. Are you sure you are using the latest master of this repo?

[2019-03-12 17:11] shivamgarg1901 commented on #58
@Jaeyoung-Lim It is working fine now.Thanks for your help.You did fantastic job :)

[2019-03-12 20:13] Jaeyoung-Lim commented on #58
@shivamgarg1901 Thats great! Glad that it works.

[2019-03-12 20:13] #58 closed

[2019-03-15 05:37] shivamgarg1901 opened #60 "Reference for the Equation"
![Screenshot (81)](https://user-images.githubusercontent.com/25364311/54410638-530f3600-4712-11e9-98de-8cb92763163d.png)
Hi! Can u give me the reference for the equation used in this snippet of code? I cannot understand it plz help!
Also, can you give us references for the Disturbance observer used in the geometric controller?

[2019-03-15 09:55] Jaeyoung-Lim commented on #60
@shivamgarg1901 It is simply a vector representation of the circle.

There is no refrenence for the disturbance observer. However, you can refer to a similar work from this paper:
Lee, Seung Jae, et al. "Robust acceleration control of a hexarotor UAV with a disturbance observer." 2016 IEEE 55th Conference on Decision and Control (CDC). IEEE, 2016.

[2019-03-17 20:25] altshuler opened #61 "Compilation Problem"
Hello,
I'm trying to compile the mavros_controllers and get compilation error:

Errors     << geometric_controller:check /home/evgeny/catkin_ws/logs/geometric_controller/build.check.017.log
CMake Error at /home/evgeny/catkin_ws/devel/share/catkin_simple/cmake/catkin_simple-extras.cmake:38 (find_package):
  By not providing "Findeigen_catkin.cmake" in CMAKE_MODULE_PATH this project
  has asked CMak

[2019-03-17 20:33] Jaeyoung-Lim commented on #61
This is a recently added dependency. Sorry for not updating the readme.
Try installing it through the `dependeincies.rosinstall` in the root of the repo
[code]
or you can simply clone it to the src directory as the following
[code]

[2019-03-18 15:17] altshuler commented on #61
Thank you very much.
This commands will update only mavros_controllers package or
all packages in workspace ? I have a packages that I don't want to update.

BR
Evgeny

[2019-03-18 18:49] Jaeyoung-Lim commented on #61
@altshuler If you are worried about dependencies, simply clone `eigen_catkin` into your workspace. That should be enough

[2019-03-19 06:19] altshuler commented on #61
Hello,
when I do   roslaunch geometric_controller trajectory_track_circle.launch    command.
I get this message:
ERROR: cannot launch node of type [trajectory_publisher/trajectory_publisher]: can't locate node [trajectory_publisher] in package [trajectory_publisher]

The drone just takeoff and hovering in one place.

[2019-03-19 06:47] Jaeyoung-Lim commented on #61
Did you build the `trajectory publisher`?

[2019-03-19 07:21] altshuler commented on #61
Actually, no...
I didn't get that needed to build it separately.
Any other packages should be built separately ?

[2019-03-19 07:35] Jaeyoung-Lim commented on #61
As written in the instructions, if you build `mavros_controllers` it will build `trajectory_publisher` and `geometric_controller`

[2019-03-19 07:47] altshuler commented on #61
Ok, thanks.
Will test it today.

[2019-03-19 09:57] #2 closed

[2019-03-24 19:23] Jaeyoung-Lim commented on #61
@altshuler Any updates?

[2019-03-25 07:43] altshuler commented on #61
I'm compiled the packages, Running simulations ,
trying to understand the code.
I have 2 questions.
Ho I can disable running Gazebo every simulation ?
What launch file runs real flight (not simulation) ?

[2019-03-25 09:33] Jaeyoung-Lim commented on #61
@altshuler So does that mean the problem is solved?

On a real platform, you need to disable `sim_enable_` parameter and not launch `px4_sitl`.

Currently there is no launch file specifically for a real system. Do you need one?

[2019-03-25 09:46] altshuler commented on #61
Yes, the problem is solved.
I will try to fly on real drone.

Tanks

[2019-03-27 13:46] SourabhGupta12 opened #63 "Determining Constant Values"
HI! I was wondering how are you determining value of constants like Kpos, Kvel and att_ctrl_tau.

[2019-03-27 14:23] Jaeyoung-Lim commented on #63
@ScoobyCodes It is a tuning parameter. It decides how aggressive you want to control your vehicle.

It can depend on various things such as how noisy your estimate is, how agile your vehicle is .etc

[2019-03-28 13:18] EdXian opened #64 "How to control the heading of a drone?"
Hi @Jaeyoung-Lim ,
This package helps me a lot. Thank you for your package.
I have a question about the heading problem with the geometric control. According to the reference, the heading of a drone can be choosed by the user. However, I can not find the function to set  `mavYaw_`.The default `mavYaw_` is 0.

[2019-03-28 13:26] Jaeyoung-Lim commented on #64
@EdXian Thank you for the kind words,

Indeed, this is not properly implemented yet. I have a pending PR: https://github.com/Jaeyoung-Lim/mavros_controllers/pull/35 which I tried to make the drone keep the heading in the direction of velocity, but is not finished yet.

Do you simply want to set the heading of the vehicle statically? this can be easily implemented. Dynamically, there needs to be so

[2019-03-28 14:04] EdXian commented on #64
Hi @Jaeyoung-Lim ,
Thanks for your answer. I have another question about the function `acc2quaternion` [here](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L367-L374)
It seems that the order of step is wrong. Maybe, the snippet should like as follows:
[code]

[2019-03-28 14:18] Jaeyoung-Lim commented on #64
@EdXian I think you are right. Good catch!

Would it be possible if you make a PR on this? I would also like to check if this is also true on our forumulation as we are not using the NED frame as written in the paper.

[2019-03-28 16:44] EdXian commented on #64
Hi @Jaeyoung-Lim,
I will also double check for it. If it is correct, I will make a PR for this issue.
Cheers!

[2019-03-29 14:44] Jaeyoung-Lim commented on #64
@EdXian Do you have a ETA on this? I would like to rebase #35 on your PR

[2019-03-30 08:33] Jaeyoung-Lim commented on #63
@SourabhGupta12 Does this answer your question?

[2019-03-30 09:21] SourabhGupta12 commented on #63
Hi! I was actually looking for some mathematical Model to determine these constants. Have you used gradient descent and optimized the possible error in your control model ?

[2019-03-30 09:41] Jaeyoung-Lim commented on #63
@SourabhGupta12
I did not use any optimization as these are simply parameters that tune the behavior of the controller
For example, `att_ctrl_tau` is a time constant given that we are sending angular rate commands so this is more to tune on how aggressive your attitude controller is.

If you want to do gradient descent, you first need to define a cost to define the optimality of the gain.

In case

[2019-03-30 22:41] BhavyanshM opened #69 "trajectory_msgs/MultiDOFJointTrajectoryPoint.h : No such file or directory"
Hi @Jaeyoung-Lim

On launching a ```catkin build```, an error related to a header file in trajectory_msgs pops up. I checked the common_msgs/trajectory_msgs, there is not ```MultiDOFJointTrajectoryPoint.h``` in there. Even on the official repository for trajectory_msgs ([https://github.com/ros/common_msgs/tree/jade-devel/trajectory_msgs](https://github.com/ros/common_msgs/tree/jade-devel/trajector

[2019-03-30 22:44] Jaeyoung-Lim commented on #69
You are right It is not a standard package.

you can get it here: https://github.com/ethz-asl/mav_comm.git

[2019-03-30 23:01] BhavyanshM commented on #69
So it turns out that I already have ```mav_comm``` in my catkin_ws.
[code]

However, I don't see any ```trajectory_msgs``` inside ```mav_comm``` either. Even with the ```mav_comm``` up-to-date with the master on the repository you posted, it throws the same error. Any suggestions?

[2019-03-30 23:04] Jaeyoung-Lim commented on #69
Oh, sorry about that I must have confused this. Which ros distribution are you using?

Putting the flight controller into offboard mode shouldn't take too long

[2019-03-30 23:09] BhavyanshM commented on #69
Oh no problem at all. So, I am currently using ROS Kinetic on Raspbian Stretch

[code]
~/catkin_ws/src/common_msgs/trajectory_msgs $ ls
CHANGELOG.rst  CMakeLists.txt  msg  package.xml  rules
[code]

[2019-03-30 23:11] Jaeyoung-Lim commented on #69
Okay, that is interesting.

Is there a reason you are using raspbian stretch? ROS support in raspbian is in general poor. Which raspberry pi are you running ROS on?

[2019-03-30 23:14] BhavyanshM commented on #69
It's just that we started building the system on Raspbian Stretch and due to shortage of time were too scared to start fresh on a different distribution due to a large number of packages. We are currently running almost a hundred packages inside catkin_ws just fine. It's just that the header file for this message type seems to be missing.

[2019-03-30 23:16] BhavyanshM commented on #69
Yup, we do have a complete quadcopter with Pixhawk and Raspberry Pi ready to fly. It has been tested in several other modes. Just the Offboard mode is now needed. The setpoints will be generated by our Path Planning algorithm. The quadcopter will be flown indoors since it is supposed to map buildings using a 2D LIDAR-based SLAM algorithm. We successfully have Cartographer working as our SLAM algor

[2019-03-30 23:18] Jaeyoung-Lim commented on #69
Can you try building just the trajectory publisher? May also comment out the geometric controller inside the `trajectory_setpointraw.launch` So you can simply test sending the setpoints to the flight controller.

[2019-03-30 23:21] BhavyanshM commented on #69
So yes, ```trajectory_publisher``` was able to build just fine. Okay, I will go ahead and try out the ```trajectory_setpointraw.launch``` without ```geometric_controller```. However, to send the setpoints actually from the Path Planning algorithm, do you think we would need the geometric_controller though?

[2019-03-30 23:23] Jaeyoung-Lim commented on #69
No, it depends on what setpoint you want to send.

the trajectory publisher will send a position and velocity reference which PX4 will try to track with a feedforward position control. This is the launch file running SITL: https://www.youtube.com/watch?v=6dLV01W0uEc

The geometric controller publishes body rate setpoints and run the attitude controller on the ROS side.

[2019-03-30 23:24] Jaeyoung-Lim commented on #69
Also, the launchfile will launch sitl, so you need to get rid of that part too.

[2019-03-30 23:31] BhavyanshM commented on #69
Hm, I see. Seems to work great on SITL definitely from the video. So if I understand it correctly, trajectory_publisher can be modified to use the position setpoints from any path-planning algorithm as well. In that case, let me gather the exact steps to launch launch the Offboard mode setup with trajectory_publisher right here. So that I can have your opinion on it as well. I'll go ahead and disa

[2019-03-30 23:35] Jaeyoung-Lim commented on #69
Yes, currently the intention of the trajectory publisher was to use it to give example trajectories for the geometric controller. This package was made to have more aggressive control on the drone in offboard with the geometric controller.

However you can modify the trajectory pulblisher to publish whatever setpoints you want to make it follow if you add the right interface. Also contributions ar

[2019-03-30 23:37] BhavyanshM commented on #69
Oh surely, its really impressive and fortunate that you have such a framework already in place. I would love to contribute with more sophisticated controllers as well as the proper launch files and configs needed to run your nodes on an actual Pixhawk based quadrotor.

[2019-03-31 00:00] BhavyanshM commented on #69
So @Jaeyoung-Lim I tried out the trajectory_setpointraw.launch after commenting out the geometry_controller node and the Posix SITL. However, the trajectory_publisher dies out with an error. Here is the complete log:

[code]

I am not exactly sure why it crashes. Also, is the trajectory_publisher itself supposed to switch PX4 into the Offboard mode? Or do I need to hold some RC stick in a particul

[2019-03-31 00:18] BhavyanshM commented on #69
Sometimes the ```trajectory_publisher``` does launch successfully, but the PX4 never switches to Offboard mode. Let me know if you have any suggestions. Even when I have the quadcopter armed and the mode switch set to the Offboard mode, even then the trajectory_planner doesn't have any effect on the PX4.

[2019-03-31 06:35] Jaeyoung-Lim commented on #69
Have you checked your connection to the flight controller?

[2019-03-31 10:17] Jaeyoung-Lim commented on #69
@BhavyanshM I have made separate launchfiles for the real vehicle and the SITL simulation to make your life much easier.

You need to set the `fcu_url` correctly, on the mavros side and also set the baudrate according to that on the px4 side in order to make the rpi and mavros be able to talk to each other over the serial.

Hope this works for you

[2019-03-31 16:30] EdXian commented on #64
Hi @Jaeyoung-Lim,
Sorry for that I only changed a part of code in `acc2quaternion`. I still think about how to implement a control law for heading control . I will talk about this issue with my cowoker this week.

By the way, I read the reference again yesterday. I found the essential of the geometric control is controlling  `force` and `moment` in body frame.(Maybe I misunderstood this part). I t

[2019-03-31 20:21] Jaeyoung-Lim commented on #64
@EdXian You are right, that the geometric control assumes controlling the drone using force / moment.

However, this is quite hard to use in real platforms as your force estimation will be always of as most drones use non-feedback ESCs to drive the motors. I have used force inputs and I end up using a lot of time to tune the system- and you need to tune it for every system.

Though, your plots see

[2019-04-01 03:17] BhavyanshM commented on #69
Yes, I did have the ```fcu_url``` set properly and was connected to the Pixhawk over Mavros. As indicated by ```[ INFO] [1553990184.305527794]: CON: Got HEARTBEAT, connected. FCU: PX4 Autopilot``` in the logs above.

I also have a three-way mode switch configured to modes ```Stabilize, AltHold and Offboard```, however, on switching the Offboard mode from the switch nothing happens, and the Pixhawk

[2019-04-01 08:19] EdXian commented on #64
Hi,
Thank you for your suggestion!! Yes, the controller in this package is more suited for general case than
the formal geometric control.
I have read the techanical report. The different between the geometric control and reduced/full attitude control is that the former using rotation matrix (R_3x3) to calculate the desired angular rate while the latter using quarternion error.
I think the geometr

[2019-04-01 08:36] Jaeyoung-Lim commented on #64
@EdXian So yes, the difference is that the two controllers define the attitude error with a different error function.

I haven't done any benchmarks between the two methods. It will be extremely interesting to do so.

[2019-04-05 19:04] #64 closed

[2019-04-08 15:04] Jaeyoung-Lim commented on #69
Closing, as this is a usage question

[2019-04-08 15:04] #69 closed

[2019-04-08 15:05] Jaeyoung-Lim commented on #61
@altshuler Have you tried flying?

[2019-04-08 15:05] #60 closed

[2019-04-08 18:42] altshuler commented on #61
Actually, yes. But the vehicle is not arming.
I disabled sim_enable_ parameter  and px4_sitl .
And I tried it before last updates that you added to the project.
Unfortunately I have some HW problems on my Intel Aero, so I will try it
on next week.

Can you explain in couple of words what dob_controller do ?

[2019-04-08 20:06] Jaeyoung-Lim commented on #61
Cool. Hope it works :smile:

A dob_controller is a implementation of a disturbance observer based control. It tries to estimate the disturbance and compensate it. This is at a very experimental stage. It works in SITL, but flies a bit aggressively which I am not sure how it would behave on a real drone.

[2019-04-10 02:43] EdXian commented on #64
Hi @Jaeyoung-Lim ,
May I ask some question that is not related to this issue?
In the conclusion of this [paper](https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=5717652),  the author has menthioned that the Eucledian-based method can avoid ` the ambiguities of quaternions in representing attitude`. Is it imply that some issue exsists in quaternion based attitude controller?
Then, why do we

[2019-04-10 05:41] Jaeyoung-Lim commented on #64
@EdXian The quaternion based controller can be found [here](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/154099/eth-7387-01.pdf)

The answer is no. The quaternion controller is also asymptotically stable in the whole SO(3). I used the quaternion simply because it is a much simpler and intuitive error metric which also involves less computation.

If you are interested in co

[2019-04-10 08:26] Jaeyoung-Lim commented on #61
Closing as the issue is resolved

[2019-04-10 08:26] #61 closed

[2019-04-10 08:26] #63 closed

[2019-04-11 09:21] Jaeyoung-Lim commented on #64
@EdXian This might be useful for you : https://github.com/fdcl-gwu/se3_geometric_control

[2019-04-11 12:13] EdXian commented on #64
Hi @Jaeyoung-Lim ,
Thank you for your decent information.
The repository above is  very helpful for me.

[2019-04-13 19:10] shivamgarg1901 opened #78 "Trajectory Plot and Error plot"
Hi! Jaeyoung-Lim
I was trying to plot the Trajectory using rqt_plot but it is not taking the message mavros/PoseMessage/pose. Please help me out with same.
Also, can you tell me how could I plot the deviation of actual trajectory from the desired trajectory?

[2019-04-13 19:28] Jaeyoung-Lim commented on #78
@shivamgarg1901 Could you explain more on what is not working with rviz?

On the deviation of the actual trajectory to the desired trajectory, is not being visualized yet. I will try to implement this when I have time.

I am also trying to measure the statistics of the error the controller has in order to measure the performance of each controller on #77

Hope this helps

[2019-04-13 23:23] Jaeyoung-Lim commented on #78
@shivamgarg1901 Actually, it wasn't too hard to implement it so I made a PR on #79

Please feel free to test it out

[2019-04-15 13:08] #78 closed

[2019-04-19 11:45] shivamgarg1901 commented on #78
Hi!
Thanks for your reply. I tried to run the updated repository.It is running everything except it is not showing any drone in the gazebo environment and not showing any trajectory in Rviz. Here is the screenshot of the error it is showing.
![file](https://user-images.githubusercontent.com/25364311/56422727-938c4180-62c6-11e9-812a-2aeb14df7013.png)
Please help me out with the same.

[2019-04-19 12:00] shivamgarg1901 opened #80 "Error while running the updated repository"
Hi!
I tried to run the updated repository.It is  running everything except it is not showing any drone in the gazebo  environment and not showing any trajectory in Rviz. Here is the  screenshot of the error it is showing.
![file](https://user-images.githubusercontent.com/25364311/56423232-c7686680-62c8-11e9-8a96-2d4fa0741486.png)
 Please help me out with the same.

[2019-04-19 12:45] Jaeyoung-Lim commented on #80
Did you rebuild everything? Does it work if you revert the repo?

[2019-04-19 15:55] shivamgarg1901 commented on #80
Yes, It worked fine now. Thanks for your help.
Also, Jaeyoung I launched the controller benchmark file and I cannot find error calculating functionality in it. It is similar to the launching of the sitl_trajectory_track_circle.launch file.

[2019-04-19 15:56] Jaeyoung-Lim commented on #80
@shivamgarg1901 You need to look at the code. It is not publishing any metrics yet.

[2019-04-19 16:12] shivamgarg1901 commented on #80
Sorry, My Bad. I checked it now. So how could I publish the metric or should I simply add the print statement in code to print it on the terminal?

[2019-04-19 16:29] Jaeyoung-Lim commented on #80
@shivamgarg1901 You could do that, or you can simply publish the error metrics.

I haven't had time to do that yet, but if you do so, also a contribution will be also welcome :smile:

[2019-04-29 16:35] FaboNo opened #82 "Iris is making a flip"
Hi Jaeyoung,

Thank you for sharing the code of the geometric controller. Actually I tried to run the controller alone and when I took a look at the code, I understood that the drone takes off and then it is hovering at Z = 2, waiting for a new command.

So I entered `roslaunch px4 mavros_posix_sitl.launch` in order to start gazebo, px4 and Mavros
and `roslaunch geometric_controller trajectory_con

[2019-04-29 17:13] Jaeyoung-Lim commented on #82
@FaboNo Thank you for taking interest of the code. The sequence of the startup is something that I have not tested. Could you instead try and run

[code]

[2019-04-30 09:05] FaboNo commented on #82
@Jaeyoung-Lim I tried
`roslaunch geometric_controller sitl_trajectory_track_circle.launch`
It starts sitl and I can see on rviz, a point circling but the behavior of the drone was the same as before: take off, reach the target, flip and fall apart.
I guess probably something is wrong in my setup? Actually the only difference is with eigen, in the include files (geometric_controller.h) I had to add

[2019-04-30 14:10] Jaeyoung-Lim commented on #82
Now I see the problem. Sorry for not being clear on the documentation

You are using the mavros release. All the development was done on the current mavros source builds. This is due to some of the missing functionalities of the current release.

The crash is likely because unfortunately some of the topics are empty.

[2019-04-30 14:28] FaboNo commented on #82
Hi Jaeyoung,

You mean I have to clone the current version of mavros (https://github.com/mavlink/mavros) ?

Fabrice

[2019-04-30 15:14] Jaeyoung-Lim commented on #82
Exactly

[2019-04-30 15:45] FaboNo commented on #82
Yes it works fine now!
Ok next step follow a trajectory that I will provide
Thank you for your help Jeayoung

[2019-04-30 15:45] #82 closed

[2019-04-30 16:39] Jaeyoung-Lim commented on #82
@FaboNo awesome! the interface is already there through MultiDOFJointTrajectory messages. hope this is useful for you

[2019-04-30 16:52] FaboNo commented on #82
@Jaeyoung-Lim Yes I saw it, but in the geometric controller, only the indice 0 is taking into account:
[code]
Besides if I do not provide the acceleration, does it matter?

Otherwise, I can use the `reference/setpoint` interface if I am able to update the ref point each xxxms

Thank you for sharing this nice piece of work!

[2019-04-30 17:10] Jaeyoung-Lim commented on #82
@FaboNo Thanks!

Providing acceleration gives you better performance to high acceleration trajectories, but for normal trajectories it doesn't make much of a difference.

The plan was to have the trajectoryPublisher publish reference along trajectories along sampled points as you mentioned. I believe the controller should stay as a reference tracker, while a separate note gives references along th

[2019-04-30 19:51] FaboNo commented on #82
@Jaeyoung-Lim Sure if I can contribute I will! Let me see how to do and get back to you as soon as I have a viable solution

[2019-05-12 21:39] altshuler opened #83 "thrust_scaling parameter is set to zero"
Hi,

After everything worked fine on SITL I modified launch file in order to run it on real flight.
I disabled gazebo_simulation ,as you recommended,  and  tried to run  geometric_controller using  **roslaunch geometric_controller sitl_trajectory_track_circle.launch**    command  on real
vehicle, but I get  this warning:
[WARN] [1557678319.767286131]: thrust_scaling parameter is set to zero.

I ca

[2019-05-13 01:32] Jaeyoung-Lim commented on #83
@altshuler Are you running current master?

If so, have you also tried
[code]

[2019-05-13 08:12] altshuler commented on #83
@Jaeyoung-Lim
the mavros is build from source, maybe not the latest version...
I will check it. What version you are using ?

[2019-05-13 09:07] Jaeyoung-Lim commented on #83
@altshuler The launchfile I suggested was created specifically for real vehicles.

I am not sure what modifications you have made in the launchfile, but that might have been causing the problem.

[2019-05-13 09:22] altshuler commented on #83
ok, I will test it,
but I think its mavros issue, because simulation I'm running
on PC and mavros is built from source, while on vehicle also mavros is built
from source, but little bit outdated. First of all I will update mavros on vehicle.

[2019-05-15 13:03] altshuler commented on #83
Yesterday I tried to fly on real vehicle.
It's looks good. One thing I noticed that is
takeoff  is very aggressive.  First  vehicle flies aside with a huge tilt.
And after it locked on trajectory it files fine. Same behavior also seen in
simulation.

[2019-05-15 13:09] Jaeyoung-Lim commented on #83
@altshuler Cool! Do you have any video from the flight?

As for the aggressive take off. You can tune down the gains. The default gains are quite aggressive, as I have put it on the limit. Also, the thrust scaling might be different, as IRIS is not a powerful drone, therefore the thrust scale is small. This might result in high thrust commands on your vehicle if it is more powerful

[2019-05-15 13:29] altshuler commented on #83
I have no video, but I can do it next flight.
What gain exactly I need to tune ?
Its not vertical speed I need to decrease ?

[2019-05-18 10:24] altshuler commented on #83
Today I tested again the circle trajectory.
Here is the link to the video:[https://drive.google.com/open?id=1lc1xgVjS0K7seMkbNHlb-GwRLztKTXVB](url)
and flight log:[https://logs.px4.io/plot_app?log=d7c82011-4305-44b5-92de-d7983ad98e9c](url)
Trajectory tracking seems good.
What gain you suggest to change in order to smooth the takeoff ?

Also I have some altitude slow floating. I think it's not dire

[2019-05-19 02:30] Jaeyoung-Lim commented on #83
@altshuler Thanks! Video looks awesome

So a few things you can tune:

- lower `max_fb_acc` : part of the reason the take off is aggressive is because the error is initially large. You can lower the maximum acceleration that is generated with the error with this parameter. Try tuning down the `Kp_z` and `Kv_z` values so that you get a smoother flight. Seeing that you have oscillations in altitudes

[2019-05-19 06:03] altshuler commented on #83
@Jaeyoung-Lim , thank you for the answer.
The altitude oscillation happens not only when I running this code.
It happens in all modes, so maybe first I need to tune PX4 parameters like MPC_Z_VEL_I  or
MPC_Z_P  ?

[2019-05-19 06:32] Jaeyoung-Lim commented on #83
@altshuler No, as we are sending bodyrate and thrust commands directly to the firmware, we are not using the position controller which the MPC_ parameters define

[2019-05-19 13:26] altshuler commented on #83
Ok, thanks. I will test it and update you after my next flight test.

[2019-05-26 19:29] altshuler commented on #83
I'm flied yesterday, changed **Kp_z** from 10 to 25 and  **Kv_z** from 3.3 to 2.3, **max_fb_acc_**= 5.0.
It seems no effect - same altitude floating. Maybe it's will be useful  to change **MPC_Z_P, MPC_Z_VEL_D, MPC_Z_VEL_I, MPC_Z_VEL_P** parameters, to see if it possible to tune, because I have  same behavior in  position mode .

[2019-05-27 00:35] Jaeyoung-Lim commented on #83
Could you clarify on which launchfiles you are running and where you are changing the parameters?

[2019-05-27 07:19] altshuler commented on #83
I'm understand that, but if it's impossible to tune MPC params is this can point to some other problem?
I'm running geometric_controller with  sitl_trajectory_track_circle.launch file. I disabled simulation and inserted all Kp_ , Kv_ and max_fb_acc  in this launch file under geometric_controller configurations.

[2019-05-27 08:02] Jaeyoung-Lim commented on #83
@altshuler That is strange. Do you see any behavior change in SITL?

[2019-05-27 08:04] Jaeyoung-Lim commented on #83
@altshuler I think I found the problem:
https://github.com/Jaeyoung-Lim/mavros_controllers/blob/87889e869e524259503d8e1e0a189fd32a3c399b/geometric_controller/launch/sitl_trajectory_track_circle.launch#L27

The parameters should be under geometric controller not trajectory publisher.

[2019-05-27 10:49] altshuler commented on #83
@Jaeyoung-Lim , Kpos_x,Kpos_y, Kpos_z are not used in geometric_controller.
As I changed the sitl_trajectory_track_circle.launch I can see changes in simulation when
I change Kp_z , Kv_z.

[2019-05-27 10:51] Jaeyoung-Lim commented on #83
@altshuler That is parameter mismanagement on my side. I will make a fix.

[2019-05-31 09:55] juanmed opened #87 "Drone not following circular trajectory"
Hello,

Thanks for releasing your repo. After installing all dependencies, I tried launching sitl_trajectory_track_circle.launch. Everything launches fine and there are no errors but the drone does not move, nor hovers nor follows the circular trajectory (which does appear in rviz).

The geometric_controller node subscription to ```/command/trajectory``` is disconnected, as well as ```mavros/local

[2019-05-31 13:42] juanmed commented on #83
@Jaeyoung-Lim  could you please confirm the last tested version of mavros?

[2019-05-31 14:00] Jaeyoung-Lim commented on #83
@juanmed The current upstream mavros works with this package. You need to build mavros from source

[2019-05-31 14:04] juanmed commented on #83
@Jaeyoung-Lim Thanks for the confirmation. I built latest mavros from source. I posted an issue on #87, I thought it might be due to mavros but maybe not. I will appreciate if you take a look at it. Thanks.

[2019-06-04 14:37] juanmed commented on #87
The issue was resolved by making

[code]
instead of
[code]
which is incorrectly indicated in the installation instructions. The reason why this error was introduced is explained in pull request #89 and was spotted after looking at [this issue](https://github.com/PX4/Firmware/issues/11458).

[2019-06-04 14:37] #87 closed

[2019-06-06 04:23] juanmed commented on #83
Hello, I just wanted to post a link to a video using mavros_controllers on a real drone. Like @altshuler , I am using an Intel Aero for this flight:

https://www.youtube.com/watch?v=6Yaq4uRLL6E

I launched with  the mav_trajectory_track_circle.launch:

roslaunch geometric_controller mav_trajectory_track_circle.launch fcu_url:="tcp://:5760@127.0.0.1:5760"

[2019-06-06 05:54] Jaeyoung-Lim commented on #83
@juanmed Thank you for the video! Really cool to see it working!

[2019-06-10 11:04] altshuler commented on #83
@Jaeyoung-Lim  , I'm added dynamic reconfigure option in geometric_controller to be able configuring PID
values in simulation and real flights. If it's ok I can put PR.

[2019-06-10 11:06] Jaeyoung-Lim commented on #83
@altsuler That would be awesome! Contributions are always welcome :+1:

[2019-06-13 09:42] germal opened #92 "Compilation error :geometricCtrlConfig.h: No such file or directory"
Hello

Hi !
I just found the following compilation error  :

In file included from /home/ubuntu/catkin_ws/src/mavros_controllers/geometric_controller/src/geometric_controller.cpp:3:0:
/home/ubuntu/catkin_ws/src/mavros_controllers/geometric_controller/include/geometric_controller/geometric_controller.h:34:54: fatal error: geometric_controller/geometricCtrlConfig.h: No such file or directory

and ìn

[2019-06-13 10:42] Jaeyoung-Lim commented on #92
@germal It seems like a regression from #90 . Could you revert the PR for the moment? I am working on a fix.

[2019-06-13 11:29] Jaeyoung-Lim commented on #92
@germal Could you try again with the current master? I believe the issue is fixed

[2019-06-13 13:08] germal commented on #92
@Jaeyoung-Lim  , it compiles perfectly ! Thank you very much !

[2019-07-04 13:39] tuloski opened #96 "Where is the reference position and acceleration and jerk?"
I don't see where the position and acceleration and jerk trajectory is taken since the only topic it's subscribed is a geometry_msgs/TwistStamped.
And they are needed by the controller for both feedback (position) and feedforward (acceleration and jerk) terms.
Also the trajectory_publisher seems only to generate a geometry_msgs/TwistStamped setpoint.

Is the position integrated from the velocity (

[2019-07-04 13:57] tuloski commented on #96
Ok, looking at the code I saw that the position is taken from the twist angular (ouch!).
A little info about this in the README would be nice.

I also see there is a not documented controller_msgs::FlatTarget message which can be used to send the complete trajectory up to snap which is nice but it is not documented.

[2019-07-06 10:05] Jaeyoung-Lim commented on #96
@tuloski Thanks for the feedback. The twist input was a hack that I put together in the initial stage of the project. I will make a fix on it

[2019-07-08 09:57] juanmed opened #98 "Velocity error gain"
While looking at your code, I noticed that in the gain matrix for velocity error:

https://github.com/Jaeyoung-Lim/mavros_controllers/blob/a28e89adbc9a7470577eb04d80d6d84a6e023576/geometric_controller/src/geometric_controller.cpp#L60

the 2nd element, which I suppose should corresponde to Kvel_y_, has actually the value Kvel_z_.

Should not it be as follows?
[code]

Thanks

[2019-07-08 10:51] Jaeyoung-Lim commented on #98
@juanmed Your right! I think the fact that the gains I we're testing was always the same, the error wasn't apparent until now

[2019-07-10 15:50] #98 closed

[2019-07-22 10:14] SwiftGust opened #99 "How to make geometric controller to track circle trajectory"
![Geometric_Controller](https://user-images.githubusercontent.com/13569579/61624536-beb27280-acb3-11e9-8b9d-901047ce01d5.gif)

Hello,
I'd like to make vehicle to track circle trajectory more perfectly, but could not make vehicle to track more closely than above picture.
How can I make iris to track circle or any trajectory more closely?

It looks like only these parameters are available to the use

[2019-07-22 10:18] Jaeyoung-Lim commented on #99
@SwiftGust By more closely, if you mean by position error only you need to tune down the gains of the velocity.(`Kv_*`) The current control error is defined as the weighted sum of position and velocity.

Tracking position perfectly is not a good thing especially in trajectories with high acceleration, as it will not be able to follow the setpoint's velocity changes. Therefore a feedforward gain of

[2019-07-22 11:14] Jaeyoung-Lim commented on #99
@SwiftGust The dob package is also working. Did you see any problems with the package?

[2019-07-22 12:25] SwiftGust commented on #99
@Jaeyoung-Lim
I got the point but, I thought this package also has capability of tracking such trajectory as like one of reference

About dob, I thought by setting d_hat to be 0, maybe able to make sure dob package running without estimated disturbance affecting the outer loop controller, so that help me to point out either outer-loop controller or dob controller has problem.

I tried again with a

[2019-07-22 13:46] Jaeyoung-Lim commented on #99
@SwiftGust It is the same implementation.

As you can see in the video you have cited, the controller is unable to track the velocity properly without drag compensation. You can tune the drag to follow the performance as in the video. The drag coefficients are set to zero in default.

Can you fly with dob with the default parameters or not? If you make everything zero, you will be dividing numbers

[2019-07-23 03:22] SwiftGust commented on #99
@Jaeyoung-Lim Thank you for detailed explanation.
What I want to achieve is fast, unnoticeable close response to the reference input without position deviation from actual reference input, as with drag compensation in the video.

For the DOB, it cannot fly with default parameters in master branch, ends-up crashing so that's why I want to find out what is causing the problem.
From your explanation,

[2019-07-23 05:07] SwiftGust commented on #99
Additionally, it is also hard to make track figure-8 trajectory with some gain tuning

Here attached gain & launch file to reproduce issue (*.txt format for uploading).
[sitl_trajectory_track_circle.txt](https://github.com/Jaeyoung-Lim/mavros_controllers/files/3420290/sitl_trajectory_track_circle.txt)
[figure-8-failed.txt](https://github.com/Jaeyoung-Lim/mavros_controllers/files/3420292/figure-8-f

[2019-07-23 06:47] Jaeyoung-Lim commented on #99
@SwiftGust Seems like there is no velocity reference for lemniscate
https://github.com/Jaeyoung-Lim/mavros_controllers/blob/a28e89adbc9a7470577eb04d80d6d84a6e023576/trajectory_publisher/src/shapetrajectory.cpp#L91

[2019-08-07 07:07] Jaeyoung-Lim commented on #99
@SwiftGust Any updates ?

[2019-08-08 11:38] SwiftGust commented on #99
Sorry for delayed update, after testing PR #100 and talk,
caught up with other tasks so no further progress yet.
Will open another issue if there is problem, thank you.

[2019-08-08 11:38] #99 closed

[2019-08-19 10:05] mzahana opened #101 "What are the Equations Used in This Implementaion?"
Hi @Jaeyoung-Lim

I am trying to find which equations are used to implement the controller in this packahe. In particular, in "Geometric tracking control of a quadrotor UAV on SE (3)" The inputs are collective thrust force, f, and moments M. I beleive it is simple to send f to mavros setpoint. However,  how is the computed moments input, M, mapped to attitude rate setpoints?
Also the, computation

[2019-08-19 11:27] Jaeyoung-Lim commented on #101
@mzahana I explicitly avoided using force and moments for that reason. The attitude controller is something similar from https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/154099/eth-7387-01.pdf

[2019-08-19 11:59] mzahana commented on #101
Thanks, @Jaeyoung-Lim . So, the implementation of the controller in this package is based on the report you mentioned, or there are other reports/papers?

[2019-08-19 12:54] Jaeyoung-Lim commented on #101
@mzahana Only the attitude controller is based on the link I provided. The rest is based on the papers on the readme.

However, there is no single paper that this implementation points to. The implementation was done carefully to get the best out of controlling the drone aggressively with mavros.

[2019-08-24 02:17] juanmed opened #102 "Kp_z value"
Hi,

The `Kp_z` gain value is assigned as  `30` in the launch files.

https://github.com/Jaeyoung-Lim/mavros_controllers/blob/6ae4ef07e601f4f2a3fb334b44991f4744a613ec/geometric_controller/launch/sitl_trajectory_track_circle.launch#L23

https://github.com/Jaeyoung-Lim/mavros_controllers/blob/6ae4ef07e601f4f2a3fb334b44991f4744a613ec/geometric_controller/launch/mav_trajectory_track_circle.launch#L28

[2019-08-24 14:56] Jaeyoung-Lim commented on #102
@juanmed Thanks for the comments. Does this mean that on the master branch the drone is unable to track the trajectory? I have not tried `Kp_z = 30` on a real drone.

`Kp_z` is one of the constants that depends highly on the actual hardware. The reason is that we command thrust as normalized thrust values but the actual thrust generated from these normalized thrust values can vary greatly dependin

[2019-08-25 07:40] altshuler opened #103 "IDE question"
Hi, @Jaeyoung-Lim

I have a question about IDE.
I debugged mavros_controllers with eclipse.
My steps as following:
1. Running geometric_controller from terminal using roslaunch geometric_controller        sitl_trajectory_track_circle.launch
2. launching eclipse and debugging the code.

In this case previously running node is suspended as another node with the same name is launched.
But after last

[2019-08-25 11:19] Jaeyoung-Lim commented on #103
@altshuler I use visual studio code as I find it quite convenient, as well as it is well integrated with px4 firmware.

For debugging I usually run gdb or valgrind in the prefix as explained [here](http://wiki.ros.org/roslaunch/Tutorials/Roslaunch%20Nodes%20in%20Valgrind%20or%20GDB)

[2019-08-25 13:52] altshuler commented on #103
@Jaeyoung-Lim , thank you for your answer.
Is it possible to open whole catkin_ws workspace in visual studio code in order to see all projects?
 Is there any add-ons needed to be installed for PX4 support ?
Anyway, as I understand ,the sequence is first running launch file with gdb prefix added, then start debug session in IDE ?

[2019-08-25 16:05] juanmed commented on #102
Yes, at least in simulation in my computer. I did not tried on the real drone.

Thanks for the explanation on `Kp_z`. Regarding my controller, just like yours it sends thrust and angular velocity commands to the `/mavros/setpoint_raw/attitude` topic. The values are calculated following using the expressions in your Reference [1], both for the thrust and the desired body-frame angular velocities. S

[2019-08-25 18:00] Jaeyoung-Lim commented on #102
@juanmed Okay, in that case I would appreciate if you make a fix on the launchfile default gains?

Have you checked if your controller is sending realistic values in terms of jerk when sending angular rates? It might be that your vehicle is simply unable to track the control inputs you are sending.

[2019-08-31 13:40] mzahana commented on #101
Thanks @Jaeyoung-Lim . Do you know of packages for trajectory generations for quadrotors? I am aware of several techniques, but didn’t see an implementation for that.

[2019-08-31 13:52] Jaeyoung-Lim commented on #101
@mzahana There are actually quite a lot around. What applicationsare you looking for? I can recommend you a few

[2019-08-31 14:12] mzahana commented on #101
I would like to generate fastest feasible position trajectory that goes through some waypoints with re-planning in case of popping obstacles.

[2019-08-31 14:52] Jaeyoung-Lim commented on #101
@mzahana Have you looked at [mav_trajectory_generation](https://github.com/ethz-asl/mav_trajectory_generation) ?

[2019-08-31 15:04] mzahana commented on #101
@Jaeyoung-Lim thanks!
Looks like a good start. Have you used that with this package (mavros_controllers)?

[2019-08-31 15:21] Jaeyoung-Lim commented on #101
@mzahana I haven't tested it personally, but we have a interface on the MultiDOFJointTrajectory Message as one of the contributors was using it with the geometric_controller.

[2019-09-02 04:37] joeytrib opened #105 "using PolynomialTrajectory4D?"
Hi,

Thanks for the great work.
I am trying to use geometric controller with PolynomialTrajectory4D, and I can find x, y, z coefficients for each PolynomialTrajectory segment.
My questions are:
1. In polynomialtrajectory.cpp, I found position is defined as :

`
position << c_x_(0) + c_x_(1) * time + c_x_(2) * pow(time, 2) + c_x_(3) * pow(time, 3),
                  c_y_(0) + c_y_(1) * time + c_y_(

[2019-09-02 07:09] altshuler commented on #103
I'm installed Visual studio code ,ROS plugin and C++ plugin.
Also added to sitl_trajectory_track_circle.launch file gdb prefix:
`<node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller" output="screen" launch-prefix="gdb --args">`
Unfortunately I'm still not able to debug  using breakpoints in VS code.
My steps are :
1. launching  sitl_trajectory_track_circle.l

[2019-09-02 07:24] Jaeyoung-Lim commented on #103
@altshuler Is this specific to this package? or is this something happening in ROS in general?

[2019-09-02 08:23] altshuler commented on #103
I don't know yet. I just tried to run another package, not using .launch file.
Generally its running.
Today will try to run another package using .launch file.

[2019-09-02 08:26] altshuler commented on #103
What is your steps for starting debug session in VS code ?
the prefix in launch file should include "run" option as:
`launch-prefix="gdb  run --args"`    ?

[2019-10-09 09:04] rchaaaaa opened #106 "what article does the dob_controller refer to"
Could you please cite the dob_controller's reference article, thanks a lot.

[2019-10-09 09:04] Jaeyoung-Lim commented on #106
@rchaaaaa It does not refer to any literature, but designed as a generic disturbance observer

[2019-10-28 17:42] #92 closed

[2019-11-29 10:05] Jaeyoung-Lim commented on #16
Closing as stale

[2019-11-29 10:05] #16 closed

[2019-11-29 10:05] #49 closed

[2019-12-27 02:14] HenryHuYu opened #110 "Where is the trajectory published to?"
Hi thanks for your great work, I got 2 questions:

1. I saw that the trajectory publisher has a varieble
[code]
but I didnot find a subsciber that subs this trajectory. Any help with this?

2. To my understanding, your polynomial trajectory is something like
p(t) = c1 + c2 * t + c2 * t^2 + c3 * t^3
is that right?

[2019-12-27 06:46] Jaeyoung-Lim commented on #110
1. the geometric controller takes the reference from the trajectory publisher not the trajectory.

2. that is correct

[2020-01-02 03:29] HenryHuYu commented on #110
Thx so much. Here I got another problem that when I try to run your simulation in the tutorial (tracking a circle trajectory). I got the following error, sometimes the mavros controller node will crash, but sometimes it tracked a circle :
![wrongsim](https://user-images.githubusercontent.com/30193721/71650691-b5ddc680-2d52-11ea-8816-813a1b65a0c0.png)

I didnt press any keyboard.

[2020-01-02 06:17] Jaeyoung-Lim commented on #110
@HenryHuYu It seems like your SITL simulation is crashing and it is not related to this repo. Are you running the process with root previliges? See that your px4 daemon is complaining that the resource is not available.

[2020-01-04 06:25] HenryHuYu commented on #110
@Jaeyoung-Lim I found out. It is because I run SITL simulation separately while your launch file contains SITL simulation node.
Here is another question:
[code]
but I found that D_ is always 0. I checked the paper "Automatic Re-Initialization and Failure Recovery for Aggressive Flight with a Monocular Vision-Based Quadrotor" but found out that the position controller is something like(without a ro

[2020-01-06 06:46] HenryHuYu commented on #110
@Jaeyoung-Lim Also, is the function in geometric_controller.cpp ever used?
[code]

[2020-01-14 12:35] juanmed opened #111 "Design question: why store quaternions in Vector4d instead of Quaterniond"
Hi,

I saw you are using `Eigen::Vector4d` for storing the attitude quaternion instead of the `Eigen::Quaterniond` or `Eigen::Quaternionf` data structures. I was wondering if you could share what were the design considerations when making this decision. Thanks.

[2020-01-14 12:38] Jaeyoung-Lim commented on #111
@juanmed I think using `Eigen::Quaternionf` would be better. We need to change this at some point

[2020-01-14 12:49] Jaeyoung-Lim commented on #111
@juanmed I will be adding unit tests in the next weeks to make this project more robust.

If you are using this project, it would be cool if we can discuss what are the missing pieces are in this project so that we can make our lives easier :)

[2020-01-16 02:06] juanmed commented on #111
@Jaeyoung-Lim Hi, yes for sure. Let me make a list of what I consider can be improved and send it to you. Notwithstanding, I will be following your lead. I think I can close this issue now.

[2020-01-16 02:06] #111 closed

[2020-01-16 09:09] Jaeyoung-Lim opened #112 "Feature requests / Planning for Q1/Q2 2020"
This issue is a place holder for feature requests and planning to make this code base more robust and repliable. Since I am not flying daily with this code, I believe the users will have a better idea on what is missing.

Please list the features that this packages are missing / limiting future development, so that we can prioritize from the list

@juanmed

## Testing
- [x] unit tests using gtests

[2020-02-06 22:32] matthew-givens opened #114 "Sending Yaw Commands"
Hi,

Great work on the package! I'm pretty new to ROS (and C++ for that matter). I've gotten everything working in the simulation and I have a real drone set up with position feedback. Now I'm looking to have the simulated drone point at the center of the circle at all times (then I'll test it with the real drone). I know how to generate the appropriate yaw quaternion command (using the theta angl

[2020-02-07 16:21] Jaeyoung-Lim commented on #114
@matthew-givens Thank you for the nice words. It would be great if you can provide feedback or even better if you can contribute to the code base.

You can set yaw by simply sending topics over `~reference/yaw` message

[2020-02-07 21:54] matthew-givens commented on #114
Thanks! With some effort, I wrote a package that subscribes to the `/mavros/local_position/pose` topic, calculates my desired yaw, and publishes Float32 yaw messages to the `/reference/yaw` topic. And it works!

If I create anything worth sharing I will definitely try to contribute.

[2020-02-11 07:09] Robby119 opened #119 "[Mavros -2] Has died"
need help, there's problem when i run roslaunch geometric_controller stil_trajectory_track_circle.launch
![Screenshot from 2020-02-11 14-15-57](https://user-images.githubusercontent.com/55482771/74217202-67b8cd00-4cd9-11ea-9733-d5c7830b0f74.png)

[2020-02-11 13:38] Jaeyoung-Lim commented on #119
@Robby119 Can you run PX4 SITL gazebo?

[2020-02-12 09:46] Robby119 commented on #119
it's done, i've reinstalled mavros. Maybe i missed some steps before.
Another question, why the drone will fall in the end (it's about 5-10 minutes after start) it's supposed to be like that or it's just me?

[2020-02-12 10:01] Jaeyoung-Lim commented on #119
@Robby119 No it shouldn't be like that. Do you have a log?

[2020-03-11 17:24] dominiknatter opened #121 "setpoint_raw/attitude vs. actuator_controls"
Hi Jaeyoung,

first of all: nice implementation! :)

I'm currently thinking of supporting the PX4 controller by flatness-based feedforward control (to exploit knowledge about the model). For this I digged a bit into the PX4 firmware, to see how this could be implemented. I concluded that sending PWM values is probably a step too far and I should rather send body rates and a thrust value. For me it

[2020-03-25 20:45] Robby119 opened #122 "is it usable for hexacopter ?"
i'm doing my research but using hexacopter, i'm wondering is it usable for hexacopter?  if it isn't what should i change from your code?
thanks

[2020-03-25 22:45] Jaeyoung-Lim commented on #122
@Robby119 It is usable for hexacopter. As long as you are running PX4, it doesn't matter which vehicle type you are using

[2020-03-25 22:53] Robby119 commented on #122
Just using it directpy or should i change some part inside the code?  Cause
as far as i know, quadcopter and hexacopter have different dynamic model
and it's sure will lead to difference angular acc

Pada tanggal Kam, 26 Mar 2020 05:45, JaeyoungLim <notifications@github.com>
menulis:

[2020-03-25 23:27] Jaeyoung-Lim commented on #122
@Robby119 We are not using vehicle specific dynamics in this project, but rather using setpoints such as bodyrate / velocity / position which does not matter which airframe you are using

[2020-03-25 23:31] Robby119 commented on #122
Alright, thank you so much for the responses

Pada tanggal Kam, 26 Mar 2020 06:28, JaeyoungLim <notifications@github.com>
menulis:

[2020-04-19 22:22] Jaeyoung-Lim commented on #121
@dominiknatter Awesome project! Yes, the setpoints are set to mc_rate_control so we send bodyrate setpoints. This was a sensible decision to have better tracking performance with aggressive maneuevers.

Usually when running offboard applications, you are communicating through a serial interface with the flight controller which introduces latency and communication bandwidth. Controlling actuator in

[2020-04-20 13:05] dominiknatter commented on #121
@Jaeyoung-Lim thanks for the feedback!

I'll repeat to make sure I got your point: you agree, that using setpoint_raw/attitude does not strictly stand for pure feedforward (FF), as it passes through another controller (mc_rate_control that is). However, this remaining loop reacts so fast that the performance is affected only minimally (if at all) and hence it's practically FF.

Assuming that's cor

[2020-04-20 14:24] Jaeyoung-Lim commented on #121
@dominiknatter Although the rate / attitude setpoints are included in the same message, if you send body rate setpoints it is handled by `mc_rate_control` and if you send attitude setpoints, it is handled by `mav_att_control`. So I think you are confusing the two.

I don't think you need to get carried away of the implementation details in px4. It is just about whether if you assume the plant dyna

[2020-04-20 15:35] dominiknatter commented on #121
@Jaeyoung-Lim  I intended to underlay a model equal to (1) - (4) [here](http://rpg.ifi.uzh.ch/docs/RAL18_Faessler.pdf). Using their flatness derivation I should then be able to feedforward omega_dot. But what I meant to say is: pure feedforward will not control position and hence drift due to e.g. model uncertainties. That's why
 - in this paper they close the loop with their own position controll

[2020-04-20 16:01] Jaeyoung-Lim commented on #121
@dominiknatter My implementation is basically following that exact paper.

I don't think I understand exactly what your concerns are. Even if you have model uncertainties your drift will be bounded due to the stability of the controllers. The other control loops are ignored and you need to run your own position/trajectory controller offboard. Therefore, you cannot use the body rate controller toge

[2020-04-20 18:50] dominiknatter commented on #121
@Jaeyoung-Lim ahh now we got it. That last paragraph exactly nailed my concern, so I better tell my supervisor that we shouldn't try to misuse offboard mode in such a way.

We just thought it would be "a waste" to drop the PX4 controllers, as they work quite well :) and we already have a time-optimal trajectory generator that would allow to calculate the flatness-based feedforward terms. But appar

[2020-04-20 18:50] #121 closed

[2020-06-03 19:24] luisp23 opened #124 "implementing mav_trajectory_generation"
Hello, I want to implement the [ethz-asl/mav_trajectory_generation](https://github.com/ethz-asl/mav_trajectory_generation) to generate trajectories that can be used by the geometric controller. From my understanding of the example code, given a goal position and velocity it will generate coefficients for a polynomial trajectory of message type [PolynomialSegment.msg](https://github.com/ethz-asl/ma

[2020-06-03 19:32] Jaeyoung-Lim commented on #124
@luisp23 I don't think generate coefficients are relevant for your use case.
- What you need is to add a implementation where the trajectory publisher receives the trajectory message from mav_trajectory_generation. What kind of message are you sending your trajectories out? Geometric_controller already has such interface, but only takes the first reference as a input. https://github.com/Jaeyoung-L

[2020-06-03 20:11] luisp23 commented on #124
`mav_trajectory_generation` outputs a message of type [mav_planning_msgs/msg/PolynomialTrajectory.msg](https://github.com/ethz-asl/mav_comm/blob/master/mav_planning_msgs/msg/PolynomialTrajectory.msg)
So you're saying this already a polynomial trajectory of positions and velocities and not coefficients for one? So then all I need to do is convert these to a` trajectory_msgs::MultiDOFJointTrajectory

[2020-06-03 21:18] Jaeyoung-Lim commented on #124
@luisp23 Ah, in that case you need to convert the mav_planning_msgs/msg/PolynomialTrajectory.msg to the MultiDOFJointTrajectory message

[2020-06-03 21:43] luisp23 commented on #124
Okay I understand this a lot better now. Thank you!

[2020-06-05 06:53] Robby119 commented on #122
Hi, there's another issue that make me confuse, in this section you're clearly using Faesler differential flatness

![image](https://user-images.grithubusercontent.com/55482771/83845693-94cf3680-a733-11ea-9c95-229d54d903d8.png),

`but when i look at that paper, the equation he's using is different from what you implement in this section.
![image](https://user-images.githubusercontent.com/55482771/

[2020-06-05 07:20] Jaeyoung-Lim commented on #122
@Robby119 I think that looks more or less correct, but the details might be a little different. My intention was not to implement the paper, but have a stable trajectory tracking controller.

[2020-06-05 14:38] mzahana opened #125 "Build error related to FlatTarget msg"
Hi @Jaeyoung-Lim
Following the build instructions in the README, I get the following error after `catkin build`
[code]
Do I need to modify the msg dependencies in the geometric_controllers pkg?

Here is my `catkin_ws` config, if it helps
[code]

[2020-06-05 14:42] mzahana commented on #125
Solved by changing the config of the `catkin_ws` as follows
[code]

[2020-06-05 14:42] #125 closed

[2020-06-05 14:48] Jaeyoung-Lim commented on #125
@mzahana would you mind adding it to the build instructions in the readme?

[2020-06-05 15:11] mzahana commented on #125
@Jaeyoung-Lim  here you go https://github.com/Jaeyoung-Lim/mavros_controllers/pull/126

[2020-06-20 02:31] Robby119 commented on #101
Hi, i'm still confused about why attitude rate as an input is safer than actuator input in offboard mode, is it related to part of controller that being skip in px4 when using a actuator input?

[2020-06-22 20:29] mzahana opened #127 "Unstable behaviour when setting velocity_yaw to true"
Hi @Jaeyoung-Lim

I would like the drone's heading to be in the velocity direction, but I am not sure if the controller is properly implemented for that. So, I set [velocity_yaw](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L40) to true. However, the drone starts to oscillate and eventually crashes. Any idea what could be the issu

[2020-06-22 20:38] Jaeyoung-Lim commented on #127
@mzahana A log would be helpful. Are you running the latest master?

[2020-06-22 21:17] Jaeyoung-Lim commented on #127
Thanks for reporting, I can reproduce the issue. Added a fix in #128

[2020-06-22 21:52] #127 closed

[2020-06-23 08:48] Jaeyoung-Lim commented on #127
@mzahana Can you test it out and verify that this has been fixed?

[2020-06-23 09:30] mzahana commented on #127
@Jaeyoung-Lim So you basically removed the multiplication by -1 [here](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L418) ?

I tested that, and the takeoff is weird, afterwards it stabilizes. But such unstable takeoff is dangerous on real drones.

See the below video for a test.

[test.zip](https://github.com/Jaeyoung-Lim/mavros_c

[2020-06-23 09:31] Jaeyoung-Lim commented on #127
@mzahana I believe the unstable takeoff is not related to this issue. Could you maybe retune the position controller so that the takeoff is less aggressive?

[2020-06-23 09:35] mzahana commented on #127
@Jaeyoung-Lim Which position controller are you referring to?

[2020-06-23 09:36] Jaeyoung-Lim commented on #127
@mzahana The `geometric_controller` in this repo. I also see the aggressive takeoff and seems like the takeoff procedure has changed in the firmware side.

[2020-06-23 09:38] mzahana commented on #127
@Jaeyoung-Lim I am confused, I thought attitude rates and thrust setpoints are used. Therefore, the PX4 position controller is not used. Is there a takeoff procedure in the `geometric_controller` that uses the PX4 position controller?

[2020-06-23 09:44] Jaeyoung-Lim commented on #127
@mzahana No, you are right, it uses attitude rates and thrust setpoints.

The `geometric_controller` IS a position controller. I meant retuning the PID gains inside the `geometric_controller` which defines the reference acceleration.

[2020-06-23 09:58] mzahana commented on #127
I still don't understand how would PX4 differentiate a takeoff maneuver from another arbitrary maneuver when it receives attitude rates as OFFBOARD commands. I believe that it would just track them, whether they correspond to takeoff or not. What do you think?

For the geometric_controller gains, you mean [those](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/s

[2020-06-23 10:00] Jaeyoung-Lim commented on #127
@mzahana You might be right, I was just speculating. Yes, that is correct. Usually `Kp_z`, and `Kv_z` will be the relevant ones

[2020-06-23 21:13] kashishdhal opened #129 "Fundamentals behind this implementation"
Hello @Jaeyoung-Lim,

I was just wondering that how your code will behave as compared to the one implemented in https://github.com/ethz-asl/mav_control_rw.

The objective is to track a trajectory.

Regards,
Kashish Dhal

[2020-06-23 21:14] Jaeyoung-Lim commented on #129
What exactly would you like to know?

[2020-06-23 21:17] kashishdhal commented on #129
I was just exploring different available packages for trajectory tracking. It will be great if you can explain that how your package differs from the other one I pointed out. I mean the pros and cons? How should I decide which one should I go with?

[2020-06-23 21:31] Jaeyoung-Lim commented on #129
@Jaeyoung-Lim This package is very dependent to how PX4 is implemented, while the other I believe is not the case. Also the other package uses MPC while this uses a geometric controller, so I would say they are very different packages.

[2020-06-23 21:35] kashishdhal commented on #129
So your package require me to provide the dynamics of the quad before implementing? How critical will the approximating the dynamics would be?

Can we use this controller with both the VICON and GPS?

[2020-06-23 21:39] Jaeyoung-Lim commented on #129
@kashishdhal No, you do not need to provide the dynamics of the quad.

VICON and GPS is not related to this package, since the estimation is done by the PX4 Firmware, but yes you can use either if you configure the EKF2 accordingly

[2020-06-23 21:42] kashishdhal commented on #129
Our EKF2 is already configured. So we just need to provide the trajectory to track?

[2020-06-23 22:08] Jaeyoung-Lim commented on #129
@kashishdhal I think you will have a better answer to that question, since I am not aware what the status of your system is

[2020-06-23 22:11] kashishdhal commented on #129
okay thanks!

[2020-06-23 22:11] #129 closed

[2020-06-23 22:15] Jaeyoung-Lim commented on #129
@kashishdhal Please feel free to post another issue if you have any more questions :smile:

[2020-06-23 22:17] kashishdhal commented on #129
Sure I am just trying to run you package. I just resolved first error:

<pre><font color="#8AE234"><b>gnclab@system76-pc</b></font>:<font color="#729FCF"><b>~/catkin_ws</b></font>$ rosdep install --from-paths src --ignore-src -y --rosdistro $ROS_DISTRO
<b>executing command [sudo -H apt-get install -y ros-melodic-rosbridge-library]</b>
[sudo] password for gnclab:
Reading package lists... Done
Build

[2020-06-23 22:32] Jaeyoung-Lim commented on #129
@kashishdhal Do you have ROS installed? which ros distro are you on?

Since this issue no longer is relevant can you move this discussion to a seprarate repo?

[2020-06-23 22:35] kashishdhal commented on #129
So I was able to run sitl_trajectory_track_circle.launch successfully. I had to install ros-melodic-rosbridge-library manually.

However, for the mav_trajectory_track_circle.launch where do I need to provide the trajectory? I mean the type of trajectory, radius of the circle etc? I am using VICON for localization and EKF2 is all set, I can see the output on local_position/pose.

If you do not pref

[2020-06-23 22:37] Jaeyoung-Lim commented on #129
@kashishdhal Please post another issue.

You can either take `trajectory_publisher` as an example and pass on reference to `geometric_controller`, or extend the trajectory interface of the `geometric_controller` to follow a trajectory

[2020-06-23 22:50] kashishdhal opened #130 "How to make the drone follow a circular trajectory Indoors"
Hello @Jaeyoung-Lim ,

Would you please point me to the part of the code where I can specify a circular trajectory to the drone to follow. I looked at the trajectoryPublisher.cpp but I was not able to understand where the trajectory is being computed. Please help!

Regards,
Kashish Dhal

[2020-06-24 19:49] Jaeyoung-Lim commented on #130
This is where the circular trajectory is being computed. Is this what you were looking for? https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/trajectory_publisher/src/shapetrajectory.cpp#L97

[2020-06-24 21:01] kashishdhal commented on #130
Thanks for the reply @Jaeyoung-Lim ,

So these are default values:
traj_omega_ = 2.0;
  traj_axis_ << 0.0, 0.0, 1.0;
  traj_radial_ << 1.0, 0.0, 0.0;
  traj_origin_ << 0.0, 0.0, 1.0;

So if I launch the mavros launch file, my drone will be executing this trajectory?
And if in case, I want to provide a parameter such as radius from command line then is that possible or do I need to recomipe the pac

[2020-06-25 00:18] kashishdhal commented on #130
Hello @Jaeyoung-Lim ,

So we were able to change the radius of the circle by changing the following function:

void shapetrajectory::initPrimitives(Eigen::Vector3d pos, Eigen::Vector3d axis, double omega){
  //Generate primitives based on current state for smooth trajectory
  traj_origin_ = pos;
  traj_omega_ = omega;
  T_ = 2*3.14 / traj_omega_;
  traj_axis_ = axis;
  //traj_radial_ << 2.0, 0.0,

[2020-06-25 04:28] Jaeyoung-Lim commented on #130
@kashishdhal A log would be helpful on finding the problem.

a. You need to make sure the rate controller of the px4 side is tuned properly so that it is capable of tracking the angular rate commands you are providing.
b. You need to make sure the normalized thrust inputs on the geometric_controller side is tuned properly
c. Only when a,b is done you need to tune the K_pos and K_vel terms

[2020-06-25 04:46] kashishdhal commented on #130
@Jaeyoung-Lim how to make sure a and b are tuned? Is there any process that I need to follow? Please let me know.

[2020-06-25 04:58] Jaeyoung-Lim commented on #130
@kashishdhal Both, I suggest you look at the logs too to identify what the problem is.

Have you tried looking up the px4 tuning guide yet? https://docs.px4.io/master/en/config_mc/pid_tuning_guide_multicopter.html

[2020-06-25 05:01] kashishdhal commented on #130
@Jaeyoung-Lim  ,  I will try tuning the  gains tomomorrow and will update you after that with the logs!

[2020-06-25 22:26] kashishdhal commented on #130
Hello @Jaeyoung-Lim is there any way to tune the gains on auto-pilot? I am not a good drone pilot. I am afraid to give step input to the drone while it is hovering. I even have hard time making it hover. Please let me know.

[2020-06-25 22:32] Jaeyoung-Lim commented on #130
@kashishdhal I have already forwarded you to the tuning guidelines of px4

[2020-06-25 23:43] kashishdhal commented on #130
@Jaeyoung-Lim , I have read it carefully, all it talks about tuning the gains in either manual mode or acro mode.

However, I will try to tune in offboard mode to see the values appears in log file.

[2020-06-26 02:48] Jaeyoung-Lim commented on #130
@kashishdhal The gains for acro mode are the gains for the attitude controller in px4. This is what is used in offboard mode.

[2020-06-28 11:46] mzahana opened #132 "Topic names relative to node's namespace"
Hi @Jaeyoung-Lim

I noticed that [some subscribers in geometric_controller.cpp](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L20-L23) has topics with respect to `/` namespace. Would it be better to keep it with respect to the node's namespace? Just like other subscribers in the same node.

[2020-06-28 20:51] Jaeyoung-Lim commented on #132
@mzahana That is a very good point. It would make sense that we fix this properly.

The reason I was using absolute namespaces was because usually ROS topic namespaces become quite fragile depending on your launchfile. Therefore I took a easy cut to get it "always" work with mavros. However, this is clearly a hack and would not scale if we have multiple instances.

Do you have any good usecases fo

[2020-06-29 12:54] mzahana commented on #132
An obvious use case is when you run multiple instances for multi-drone setup. With the current setup it fails. A straight forward fix is to keep the topics and params relative to the node's namespace. Namespaces are expected to be defined in launch files using `<group ns="namepsace">` tags.

[2020-07-01 20:09] kashishdhal commented on #130
Hello @Jaeyoung-Lim ,

Sorry for the delayed reply. Actually my drone frame broke so I was waiting to get the another one.

I flew the drone in a square using offboard mode. Here is the video and logs:

https://www.youtube.com/watch?v=0Y7Wr3JIEKA
https://logs.px4.io/plot_app?log=7a5a7dfa-23de-45f5-9a19-9eafdc1fca18

Do you think your controller doesn't work because we need to tune? I am working on

[2020-07-01 20:11] Jaeyoung-Lim commented on #130
What do you mean it doesnt work? On the video is it not using the controller?

[2020-07-01 20:13] kashishdhal commented on #130
Yeah I have not recorded the video while I was using your controller. We had very aggressive crashes.

[2020-07-01 20:45] Jaeyoung-Lim commented on #130
@kashishdhal If you didn't do any tuning yet, I guess that would be one of the reasons as we already discussed above.

[2020-07-01 20:46] kashishdhal commented on #130
@Jaeyoung-Lim okay

[2020-07-01 20:49] Jaeyoung-Lim commented on #130
@kashishdhal If you look at the log you posted you can see that roll angular rate and pitch angular rate tracking is not good. Therefore it is not surprising a angular rate based offboard controller (`geometric_controller`) is unable to stabilize the vehicle.

[2020-07-01 20:54] kashishdhal commented on #130
okay @Jaeyoung-Lim  got it. I will now try to play with these gains, moving the drone in a square. In this way I can see the commanded rates and their responses.

Do you have any other proffered method of tuning apart from the moving in a square like I am doing here?

[2020-07-01 22:07] Jaeyoung-Lim commented on #130
@kashishdhal The document I sent you above explains the preferred tuning procedures.

[2020-07-03 03:10] kashishdhal commented on #130
@Jaeyoung-Lim I did PID tuning in Offboard mode but I was not able to achieve perfect response. I had some delay and small oscillations as well after the tuning. I re-attempted to run your controller after tuning and again it resulted in an aggressive crash. I will re-attempt to tune the PID by going outdoors this time and tuning in manual mode, maybe that will help.

However, do you think we can

[2020-07-03 03:22] kashishdhal commented on #130
By the way, do you think this is good tuning?

https://logs.px4.io/plot_app?log=848c2148-ea72-4fbc-9e08-4a6ed97e3bbd

[2020-07-03 05:44] Jaeyoung-Lim commented on #130
@kashishdhal I still don't understand why you are trying to tune the PID in offboard mode...

In the document that I have sent you it says you should tune the rate controller in acromode with manual control.

Ofcourse you can make the controller less aggressive if you tune the offboard `geometric_controller` accordingly. But the problem with your vehicle is that the tuning on the vehicle side is n

[2020-07-03 07:03] kashishdhal commented on #130
@Jaeyoung-Lim , I am turning in OFFboard mode because I am not good at flying drone from RC. I am assuming to fly in acro mode I need to be a good drone pilot which I am not and I may end up crashing.

Can one fly from mavros using ACRO ? I have never done that. Please let me know.

[2020-07-03 07:39] Jaeyoung-Lim commented on #130
@kashishdhal Tuning in offboard mode will not work. at least you need to fly it in manual and see what the response is like to your sticks. `geometric_controller` is basically flying the vehicle in offboard mode in acro. However, if the vehicle is not tuned correctly how is the offboard controller supposed to fly the vehicle?

I understand flying in acro is not easy - but that is the only way you

[2020-07-03 16:17] kashishdhal commented on #130
@Jaeyoung-Lim thanks, i will try that!

[2020-07-05 21:22] kashishdhal commented on #130
@Jaeyoung-Lim , I did some tuning in manual mode but I was never able to catch up with the delay in the rate-signal. I managed to catch up only with the overshoot and reduce noise considerably low.

However, when I run it in Acro mode then the tuning that I did previously doesn't reflect any more on rate controller response, strange! But the good thing is in Acro mode I am able to catch up with th

[2020-07-05 21:26] Jaeyoung-Lim commented on #130
Seems like your making progress! Awesome!

[2020-07-05 22:46] kashishdhal commented on #130
@Jaeyoung-Lim thanks, but do you know why running in manual mode always have a delay associated in the response of rate-controller.

My belief was in the manual mode outer PID loop sets the setpoint so how should it matter if we set the setpoint or outer loop? Is there something I am missing here?

[2020-07-07 10:00] skyaid opened #134 "Can I use it in the Rover?"
Hello

I'm studying the px4 Rover software

I want to use the mavros_controller in the Rover, but the motor rotates fast when converting offboard mode.

Forward servo turns right when converting offboard

Can't I use it in the Rover?

[2020-07-07 11:03] Jaeyoung-Lim commented on #134
What are you trying to do with the rover? It depends on what setpoints you are sending

[2020-07-07 22:55] mzahana opened #135 "Parameterize initial target position"
Hi @Jaeyoung-Lim
I see that the [initial target position](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L57) is hard-coded. Would it be better to parameterize it (getting it from ROS params)?

[2020-07-08 00:29] Jaeyoung-Lim commented on #135
Yes please!

[2020-07-08 02:09] mzahana commented on #135
Please check https://github.com/Jaeyoung-Lim/mavros_controllers/pull/136

[2020-07-08 02:54] lgh5054 commented on #134
@Jaeyoung-Lim https://github.com/mzahana/px4_fast_planner
I'd like to test this.

[2020-07-08 09:47] Jaeyoung-Lim commented on #135
@mzahana Thanks for the contribution!

Closing since fixed in #136

[2020-07-08 09:47] #135 closed

[2020-07-08 09:49] Jaeyoung-Lim commented on #134
@lgh5054 In that case no.

The reason is that the body rate controller commands body rates and thrust assuming that it is a underactuated multirotor system (e.g. thrust is computed to stay in hover bodyrates make the vehicle to tilt forward to move forward).

You can maybe try using the trajectory_publisher that publishes a variety of setpoints depending on what you need

[2020-07-14 07:23] #134 closed

[2020-07-14 09:42] Wayne-xixi opened #140 "MODE: Unsupported FCU"
Hi Jaeyoung,

thank you for your work. I try to test the code and follow the example :roslaunch geometric_controller sitl_trajectory_track_circle.launch. Everything goes well but I got an error : MODE: Unsupported FCU. And there was no action in uav in Gazebo. Could you please help me?

[2020-07-15 09:40] lgh5054 opened #141 "Is there any parameter that can control thrust?"
i'm Testing on real drone.
We are currently using a racing motor and when offmode is changed, it rises rapidly into the air due to strong thrust
Is there any parameter that can control thrust?

[2020-07-15 09:54] Jaeyoung-Lim commented on #141
Yes and there are a fee, please refer to the readme

[2020-07-16 23:14] #141 closed

[2020-07-18 07:13] lgh5054 opened #142 "Drone yaw rotational speed change"
It's testing a real drone. The thrust was adjusted low through a geometric structure.
Moving back and forth is slow. But only the yaw rotates very fast. Can yaw rotational speed be changed?

[2020-07-18 13:04] Jaeyoung-Lim commented on #142
@lgh5054 of course, You need to tune your vehicle properly BEFORE running this ros node on your vehicle.

If you are curious on how to tune your vehicle in px4, please refer to this document: https://docs.px4.io/master/en/config_mc/pid_tuning_guide_multicopter.html

[2020-07-18 16:30] lgh5054 commented on #142
This is not a controller issue. The settings for px4 are complete and there is no problem.

there is a way to reduce the yaw rotation speed of the geometric.cpp? The quick rotation of the yaw can also be seen in the gazebo simulator.

[2020-07-18 16:39] lgh5054 commented on #142
Is this a problem with fc?

[2020-07-18 23:57] Jaeyoung-Lim commented on #142
@lgh5054 It is not clear what "value" or behavior you are trying to change. Are you trying to disable velocity heading?

[2020-07-19 01:16] lgh5054 commented on #142
@Jaeyoung-Lim thanks I'll be right back with the contents ready

[2020-07-19 01:28] lgh5054 commented on #142
@Jaeyoung-Lim I'd like to slow down the rotation shown in this video. Is it a pid problem?

[2020-07-19 01:37] lgh5054 commented on #142
@Jaeyoung-Lim https://drive.google.com/file/d/1NQvREkDNFnoNQJ_xbVhjA_jyTtF8QdCN/view?usp=drivesdk

I want to reduce the rotation speed of the video. Or is this a pid problem?

[2020-07-19 01:40] Jaeyoung-Lim commented on #142
@lgh5054 which video?

 The yaw is controlled to track velocity or keep a specific heading. I do t understand what you want to "slow down"

[2020-07-19 04:02] lgh5054 commented on #142
@Jaeyoung-Lim Doesn't the video above play?
the rotational speed of a drone's torso.

[2020-07-19 06:24] Jaeyoung-Lim commented on #142
@lgh5054 I dont have access to the video...

[2020-07-19 06:55] lgh5054 commented on #142
@Jaeyoung-Lim https://photos.app.goo.gl/6XuRbdgnKaDSYAV36
Can I see the video?😭

[2020-07-23 11:38] lgh5054 commented on #142
I'm sorry, I'm closing the question

This question does not apply here.

[2020-07-23 11:38] #142 closed

[2020-07-24 00:08] kashishdhal commented on #130
@Jaeyoung-Lim, I am guessing that our drone was crashing earlier because of high thrust vector and we are trying to tune the PID again and again.

But I believe that we have tuned the Inner PID loop to the best we can and not sure how to tune the thrust vector. Please see these three log files where I have used norm_thrust_const with different values. Please provide your feedback.

https://logs.px

[2020-07-24 00:09] Jaeyoung-Lim commented on #130
Have you also tried changing the Kp_z and Kv_z?value?

[2020-07-24 00:38] kashishdhal commented on #130
I have not tried changing the Kp_z and Kv_z value?

By inner loop I mean attitude rate controller loop.

[2020-07-24 00:38] kashishdhal commented on #130
Can you please guide how to change the gains you specified?

[2020-07-24 00:48] Jaeyoung-Lim commented on #130
@kashishdhal you can change it in the launchfile

[2020-07-24 00:53] kashishdhal commented on #130
Actually, I was asking how much should I change and in which direction?

[2020-07-24 00:54] Jaeyoung-Lim commented on #130
@kashishdhal That is something you need to figure out yourself, since I have no knowledge of your system

[2020-07-24 01:11] kashishdhal commented on #130
Okay, I thought you can suggest something by looking at logs I sent

[2020-07-26 04:47] rainfall1998 opened #143 "What is the reason of setting norm_thrust_const and norm_thrust_offset to 0.05 and 0.1?"
I am trying to get the controller work in Airsim, thus I can use Airsim API
[code]
while I find these two value just work perfectly in Airsim. because 0.05 * g_ + 0.1 = 0.59 (throttle), which is just the hover throttle in airsim. So I was wondering if there is any reason to set these two parameter.

[2020-07-26 11:15] Jaeyoung-Lim commented on #143
@rainfall1998 Yes, because depending on your hardware you would need to change those values according to your system

[2020-07-26 11:15] Jaeyoung-Lim commented on #140
@Wayne-xixi I think you might have the wrong mavros version.

[2020-07-26 11:36] HenryHuYu commented on #143
Thanks for you reply. I also have the same question. And does **norm_thrust_const** have any physical meaning? according to my understanding, it is something like "throttle per accelerate"?

[2020-07-27 23:52] kashishdhal commented on #130
Hello @Jaeyoung-Lim ,

I attempted to play with the gains but the drone is not able to fly stably. Drone rolls and pitch too much (quite aggressively) despite of the correct tuning. I looked at the log files, when roll and pitch values are less than 45 degrees then attitude-rate tracking is pretty good. However, when roll/pitch is too high then drone is not able to follow the attitude-rate command

[2020-07-27 23:59] kashishdhal commented on #130
And here is the log file while executing your controller (made a flip in roll axis):

https://logs.px4.io/plot_app?log=3338c90c-ae55-4e16-9870-9f88717a5a35

[2020-07-28 00:04] kashishdhal commented on #130
Also, another question, we are running your controller in the ground station, should we consider shifting that to the on-board computer? Could that be an issue?

[2020-07-28 00:05] Jaeyoung-Lim commented on #130
@kashishdhal The fact that the drone oscillates means that the tuning is incorrect.  (The drone will not oscillate if you manage to tune the vehicle correctly and it should not depend on the roll/pitch angles)

There are multiple layers of tuning you need to do
- rate control on the px4 firmware
- attitude controller on the geometric_controller (attctrl_tau)
- position controller in the geometric_

[2020-07-28 00:22] kashishdhal commented on #130
@Jaeyoung-Lim , I can say we worked on the rate controller on the px4 firmware side.

In our previous discussion, we never discussed attitude controller on the geometric_controller (attctrl_tau). So I didn't do that. Yes, we did play with the Kp_,Kv_ values. For the thurst gain we kept **norm_thrust_offset** the same as 0.1 and we changed **norm_thrust_const** until our drone is able to hover but

[2020-07-28 00:28] Jaeyoung-Lim commented on #130
Not really, since it is the dynamics that are interacting with the controller

An easier way to test is if you can create a mechanical structure that the vehicle can freely rotate and you can place the drone on the desired position, so you can check the att controller separately.

Regarding the angular velocity setpoint, that is part of what you need to tune, since it depends on your hardware. You

[2020-07-28 00:43] kashishdhal commented on #130
Has anyone created such a mechanical structure? I mean a paper or a document? If I can find a reference it would be easier.

Regarding the angular velocity setpoint,  I can see the drone following the set-point until it is upside down then it doesn't follow, because soon it hits the ground. Do you think this is normal for your controller to command the drone to go up-side down?

I have not tested

[2020-07-28 00:47] Jaeyoung-Lim commented on #130
@kashishdhal It is not normal unless you commanded to do so

May be https://404warehouse.net/2015/12/20/autopilot-offboard-control-using-mavros-package-on-ros/ is useful for you

[2020-07-28 01:43] kashishdhal commented on #130
@Jaeyoung-Lim, I sent you a video earlier making a square shape with offboard control using set-point position. I have also used velocity setpoints with px4.
Do you think that link is useful for me?

That is what I am trying to say that your controller is commanding the drone to go upside down. The drone will do whatever it is commanded. So it means tuning on the geometric_controller side is neede

[2020-07-28 01:46] Jaeyoung-Lim commented on #130
Do you think that link is useful for me?

Yes the link shows you the mechanical structure that I mentioned, Wasn't that what you were asking for?

@kashishdhal Yes, as I told you multiple times, it is essential that you tune the `geometric_controller`

[2020-07-28 03:19] kashishdhal commented on #130
Sorry, I missed that part!

I will tune `geometric_controller` as per your recommendations.

[2020-07-28 15:38] HenryHuYu opened #144 "Controller tuning."
[Drone2020v1   2020-07-28 15-27-23.zip](https://github.com/Jaeyoung-Lim/mavros_controllers/files/4989345/Drone2020v1.2020-07-28.15-27-23.zip)
Hi, I am trying to tune the controller in Airsim. For the video it is the same as the parameter as the original code. The video shows that the is kinda viberating.  To my understanding, it is because the **Kp** is too big or the **attitude_tau** is too small

[2020-07-29 09:13] lgh5054 opened #145 "Add Waypoint Function"
Hello
Thank you always for your help.
Only offboard mode seems to work on the Mavros_controller. Can't I upload the mission through QGC?

[2020-07-30 13:32] HenryHuYu commented on #145
I believe this controller mainly focus on the autonomous drone flying and with sensors and computations only onboard. And  to my understanding, mission mode in QGC is something more like using "mavros setpoint position", the controller here is more flexible and can do more aggressive things.

[2020-08-08 00:28] kashishdhal commented on #130
@Jaeyoung-Lim , so I upgraded the onboard computer to Raspberry Pi 4-4GB from Raspberry Pi 3B. The new version has 5.8 GHz wifi so less packet loss in localization data. And then also transferred the geometric_controller code to the onboard computer. Further reduced the values of Kp_x, Kp_y, Kv_x and Kv_y. After all this I was able to make 3 circles with the drone.

Here is the log file:
https://l

[2020-08-12 10:22] Robby119 commented on #143
Hi @Jaeyoung-Lim i'm trying to understand how to calculate thrust in your code

 ratecmd(3) = std::max(0.0, std::min(1.0, norm_thrust_const_ * ref_acc.dot(zb) + norm_thrust_offset_));  // Calculate thrust

do you have paper/report that can help me to understand how it works ?

Thanks in advance

[2020-08-14 00:48] kashishdhal commented on #130
@Jaeyoung-Lim, so this controller is working well to follow a circular trajectory and I am able to match the commanded acceleration to the acceleration coming from IMU.

Thanks for all the support and creating such a nice package for the community. I am closing this now!

[2020-08-14 00:48] #130 closed

[2020-08-14 06:13] Jaeyoung-Lim commented on #130
@kashishdhal Awesome! Congrats!

[2020-08-14 17:32] kashishdhal commented on #130
@Jaeyoung-Lim although I would like to ask a small question.

For the larger values of omega (says 3-4) it is not able to make a circle instead it makes an ellipse. I guess this is due to the fact that we have exceeded the acceleration limits of the quad? Is there any way to achieve that?

[2020-08-14 18:14] Jaeyoung-Lim commented on #130
@kashishdhal I think you need to look at
a. what accelration is required to track the trajectory
b. what the acceleration limit is set in this package
c. If your vehicle is capable of generating that amount of acceleration while keeping altitude.

[2020-08-14 18:22] kashishdhal commented on #130
Okay, so to check how much acceleration we can generate from the drone, should we test it directly by giving a circular trajectory and rosbag the imu to see how much is generated? or there is another preferred method?

[2020-08-14 18:24] Jaeyoung-Lim commented on #130
@kashishdhal If you know the thrust the drone can generate, you know the maximum acceleration the vehicle can track

[2020-08-14 18:31] kashishdhal commented on #130
Okay, thanks, and how do we know the maximum thurst that drone can generate without hitting the roof of the lab? Should we provide some attitude and maximum thrust (= 1 ) and record the imu data to know the thrust?

[2020-08-14 19:16] Jaeyoung-Lim commented on #130
@kashishdhal You need to measure it without flying. There are various ways to measure thrust which you can easily find on the internet

[2020-08-15 15:37] kashishdhal commented on #130
@Jaeyoung-Lim make sense.

So I did some research, and found that manufacturer has provided a bench test results. Each motor has a maximum of 490gm of thrust. So I can multiply that by four to get the maximum total thrust. Am I going in the correct direction?

[2020-08-26 16:14] kashishdhal commented on #130
Hello @Jaeyoung-Lim ,

I had a quick question, the acceleration generated by the drone in x-axis is always offset by some little value, however, in y axis it is not offset. Can you please guess what could be the reason for this reason? Could it be the measurement error, or something related to geometric controller or attitude rate loop on PX4? See below:

![image](https://user-images.githubusercon

[2020-08-26 16:30] Jaeyoung-Lim commented on #130
@kashishdhal I think your question has nothing to do with this issue, please create a new issue.

I suspect it is related to your hardware / tuning.
You need to check how well it tracks your angular velocity commands, not the acceleration

[2020-08-26 16:52] kashishdhal opened #148 "How to Match Commanded Acceleration with the measured acceleration"
Hello @Jaeyoung-Lim ,

In continuation to #130

My angular velocity plots for one of the flights (omega = 2 rad/s) are here:

![image](https://user-images.githubusercontent.com/36827419/91332685-2e860d00-e792-11ea-8a9d-42dd2f0f7a05.png)
![image](https://user-images.githubusercontent.com/36827419/91332737-41004680-e792-11ea-97f9-827c83e08d8e.png)

I am guessing the tuning is good on PX4 side?  But

[2020-08-26 19:36] kashishdhal commented on #148
Hello @Jaeyoung-Lim ,

If you cannot think of anything that is fine, but just let me know.

[2020-08-26 21:11] Jaeyoung-Lim commented on #148
@kashishdhal As you can see in the logs, the rate tracking performance is different on roll and pitch

[2020-08-26 21:26] kashishdhal commented on #148
@Jaeyoung-Lim , upon looking at the logs, I can't really think of the difference between the two, I can see that they both are being tracked pretty nicely as per the commanded rates.

Anyways, would you be able to explain a bit what difference do you see in the two? Since I am having offset in x-axis so I am guessing there is some problem in pitch-rate?

[2020-08-26 21:31] Jaeyoung-Lim commented on #148
@kashishdhal I cannot tell you what is going on, since this involves your tuning and your hardware. What you are showing me is only the response of the system.

 but clearly you can see the difference of tracking performance in rate tracking in the logs and I suspect this brings you the acceleration tracking difference

[2020-08-26 21:38] kashishdhal commented on #148
@Jaeyoung-Lim , thanks for the reply.

I was asking you what difference do you see in the performance, such as overshoot/undershoot, delay, noise, etc. It will be helpful if you can define the performance difference in engineering terms so that I can go back and tune my system and then see if that particular problem is resolved.

Sorry I might be asking a stupid question but I don't see what you a

[2020-08-26 21:40] kashishdhal commented on #148
You can refer to these two pics for our discussion:

![image](https://user-images.githubusercontent.com/36827419/91359772-cb5ca080-e7ba-11ea-97b8-17bbe5179afb.png)
![image](https://user-images.githubusercontent.com/36827419/91359816-de6f7080-e7ba-11ea-80af-915e15281456.png)

[2020-08-26 21:44] Jaeyoung-Lim commented on #148
@kashishdhal Unfortunately the data you have shown is not representative to make those statements. You need a controlled environment to make those statements e.g. giving step inputs.

If you are unsure, there are tons of materials on how you can design your input to make your response representative in the system identification/adaptive control literature. So please look it up.

 I unfortunately d

[2020-08-26 22:06] kashishdhal commented on #148
Well, that is correct, but we can still see overshoots/undershoots etc in the response, for example, if I will increase the value of P gain there there will be more overshoot/ less delay even in the oscillating signals. I was referring to that.

But, thanks for the reply, I got an idea, I can understand you that have don't have enough time to figure out everything. We really appreciate  your time

[2020-08-26 22:29] Jaeyoung-Lim commented on #148
No problem! Please share on how it goes, and if you can come up with tooling to make trouble shooting easier please contribute back!

Yes, but for me it is very hard to make any assessment since there is too much happening. You need to isolate the problem to be able to make those assessments. Otherwise, it is highly probable that the assessments are wrong, and it doesn't make sense to test fly the

[2020-08-27 04:43] kashishdhal commented on #148
Yes, I can share how I tuned my PX4 attitude rate PID loop. If you remember, you asked me to fly the drone in acro mode for tuning. But I found out that it was not a good method and instead I gave step input commands of roll-rate, pitch-rate independently one by one to tune. So basically one can fly in Acro from Offboard control to tune which is again used for geometric controller.

[2020-09-11 15:04] maxhofidrone opened #149 "How to correctly publish a trajectory to be followed by the geometrical controller"
Hi @Jaeyoung-Lim ,
I have some troubles to correctly understand how to publish a trajectory to the geometrical controller which will then itself command the /mavros/setpoints to the FC.
Up to now I'm using your provided example launched with  sitl_trajectory_track_circle.launch.
According your information provided to me via Slack, the geometrical controller receive the next  trajectory setpoint to

[2020-09-11 19:35] quarcle opened #150 "Attitude error different from the referenced paper"
Why does the attitude controller in the [geometric_attcontroller](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp) different from the mentioned paper "Geometric tracking control
  // of a quadrotor UAV on SE (3)" by Lee, et al?

I tried to change the attitude error to be `error_att = 0.5 * matrix_hat_inv(rotmat_d.transpose() * rotmat

[2020-09-11 21:09] 08beeqtufail-sudo opened #151 "PX4 controllers comparison"
Hello @Jaeyoung-Lim ,
First of all, thank you for the sharing the work you have done. I was able to run your controllers with PX4-Gazebo simulation but that raised a question in my mind:
Since we already have position, attitude and rate controllers implemented in px4, where does your controller fit in the px4 architecture? Does it bypass the px4's low level controllers? If not, then how do both co

[2020-09-16 10:26] RapIt commented on #149
Did you make any progress here? I have exactly the same scenario, I just want the UAV to follow a path of points using the position controller. A comprehensive example of publishing some setpoints with an associated time span would be so great, if someone already did that. I tried to publish messages to the `/command/trajectory` topic but apparently this doesn't have an effect while running the ci

[2020-09-18 08:54] maxhofidrone commented on #149
Not yet. I think you can not publish different setpoints (yours and the circle ones) at the same time. You probably should replace the circle trajectory messages with your desired path.
But still I don't understand the correct way to publish a trajectory to the geometrical controller based on the instructions and the circle example.

[2020-09-18 09:04] Jaeyoung-Lim commented on #149
@maxhofidrone You need to "replace" the trajectory_publisher to publish trajectories to the geometric_controller.

trajectory_publisher is an example of an external application sending external references to the geometric_controller

[2020-09-18 09:05] Jaeyoung-Lim commented on #145
@lgh5054 PX4 already supports waypoint missions. Why would you want to upload a mission and run it in offboard mode?

[2020-09-18 14:44] lgh5054 commented on #145
@Jaeyoung-Lim We would like to implement the currently implemented path planning algorithm like a px4 dedicated local_planner

[2020-09-18 14:57] Jaeyoung-Lim commented on #145
@lgh5054 Okay, then you need to implement yourself how to handle the waypoints

[2020-09-18 16:25] lgh5054 commented on #145
@Jaeyoung-Lim Thank you for your answer. Close the comment

[2020-09-18 16:25] #145 closed

[2020-09-20 09:31] HenryHuYu commented on #149
I just made it work in AirSim, it is a great work and thanks to the author again. First of all you need to understand path and trajectory, to my understanding, trajectory is a function of time, (like the circle trajectory offered by the author.) and then you need to sample it. Sampling mean that you need to sample out position, velocity, accelerate at certain rate. (again like the circle trajector

[2020-09-20 09:41] HenryHuYu commented on #148
Hi! Could you please give a hint how to "gave step input commands" with this word and tune the controller?

[2020-09-20 12:09] Jaeyoung-Lim commented on #149
@HenryHuYu Awesome! Are there any videos? I would be very interested in seeing a video if you can share! Thanks!

[2020-09-20 13:55] kashishdhal commented on #148
@HenryHuYu , you can give the step input by writing C++ file in the following steps:
1. Use the position controller to take the drone to a certain height
2. Switch to the rate controller and give rate command one by one in each axis, such as 20 rad/s for 3 sec then give -20 rad/s for 3 sec so that the drone does not crash. If you don't know how to send rate commands, take mavros_controller as an e

[2020-09-20 14:24] kashishdhal commented on #148
@Jaeyoung-Lim, so I was able to match the acceleration commands to a reasonable value. I purchased two batteries, connected them to make a square like shape so that the weight distribution is even. Then, tuned my PX4 side attitude rate controller again.
Here is the tracking for omega = 2 rad/s, radius = 0.75 m
![image](https://user-images.githubusercontent.com/36827419/93713220-01721380-fb20-11ea-

[2020-09-20 14:24] #148 closed

[2020-09-20 14:27] Jaeyoung-Lim commented on #148
@kashishdhal Thanks for the feedback and sharing the results!

Is there any chance that you can contribute the changes you mentioned to improve this package?

Thanks,

[2020-09-20 14:35] kashishdhal commented on #148
@Jaeyoung-Lim , yes, I can help! How should we do that?

[2020-09-20 14:39] Jaeyoung-Lim commented on #148
@kashishdhal You can make a pull request with the modifications towards this repository.

If you are not sure how to do this, [here](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request) is an instruction how. This repository has benefited greatly from various contributions, and I would appreciate if you can contribute too.

[2020-09-20 14:45] kashishdhal commented on #148
@Jaeyoung-Lim , I have used acceleration set-point in PX4, I do not know if it will be the same or they are making heavy changes. Also, I have used the geometric controller to send the acceleration set-points.

The problem with acceleration set-point is that you will end-up having drift in the position and velocity. The nice thing about using geometric controller is that since you also provide ref

[2020-09-20 15:06] HenryHuYu commented on #149
Yes, sure. I would like to share a competition video that we join. Since the AirSim uses NED coordinate system, I made some change on the code (like the g is (0, 0, 9.8) instead of (0, 0, -9.8)), but I realize that the modification might be unnecessary. I could do another coordinate transform instead.

The Video link is as follows:
[https://www.bilibili.com/video/BV1UK411P7Et/](url)

We modified s

[2020-09-21 14:29] Jaeyoung-Lim commented on #151
@08beeqtufail-sudo Sorry for the late reply, this package is utilizing [**OFFBOARD Mode**](https://docs.px4.io/master/en/flight_modes/offboard.html) which allows you to forward setpoints such as position setpoints, velocity setpoints, attitude setpoints, angular rate setpoints to PX4.

For example, `geometric_controller` is sending body rate setpoints to the mc_att_controller module inside PX4. Th

[2020-09-21 14:37] kashishdhal commented on #148
@Jaeyoung-Lim , should I add the position controller to take the drone to a certain altitude using a separate package? We can call it position controller and I can put under the geometric controller? Is that fine?

[2020-09-22 09:49] Jaeyoung-Lim commented on #150
@quarcle Can you share the log?

[2020-09-22 13:37] quarcle commented on #150
Here is the log file:
[roslaunch-qeui-X71-6589.log](https://github.com/Jaeyoung-Lim/mavros_controllers/files/5261726/roslaunch-qeui-X71-6589.log)

Might that help?

There is no error shown while executing the controller, but the drone crashes after taking off and trying to follow a specified trajectory (in my case, I run `sitl_trajectory_track_circle.launch`)

[2020-09-22 13:42] Jaeyoung-Lim commented on #150
@quarcle I meant the flight log. I do see that the equation is wrong, but not sure why it flies now

[2020-09-22 14:03] quarcle commented on #150
Which log do you mean? I attach two logs (roslaunch log and the ulog files) as follows:
[geocontrol_logs.zip](https://github.com/Jaeyoung-Lim/mavros_controllers/files/5261966/geocontrol_logs.zip)

[2020-09-30 18:14] quarcle commented on #150
What do you mean?

[2020-09-30 18:15] quarcle commented on #150
@valenbase what does it mean?

[2020-10-05 12:06] mzahana opened #153 "Including Yaw setpoint in the FlatTarget Msg"
Hi @Jaeyoung-Lim

I was looking at the [flattargetCallback](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L101-L133), and I don't see it accepting yaw setpoint. I know there is another callback just for yaw setpoint [yawtargetCallback](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric

[2020-10-05 12:31] Jaeyoung-Lim commented on #153
@mzahana You are right, this was something that was at the back of my head, but didn't have time to do.

One note is that we need a way to invalidate yaw setpoint in case you want to ignore it

[2020-10-07 03:04] stijojoseph commented on #34
when running make posix_sitl_default gazebo

Makefile:493: *** "Make target posix_sitl_default not found. It either does not exist or posix_sitl_default cannot be the first argument. Use 'make help|list_config_targets' to get a list of all possible [configuration] targets.".  Stop

[2020-10-07 03:07] stijojoseph opened #154 "ERROR [px4] Startup script returned with return value: 512"
make px4_sitl jmavsim

gives me this error any fixes????

 make posix_sitl_default gazebo  (was one recomnded fix but that is giving another error)

Makefile:493: *** "Make target posix_sitl_default not found. It either does not exist or posix_sitl_default cannot be the first argument. Use 'make help|list_config_targets' to get a list of all possible [configuration] targets.".  Stop.

[2020-10-08 16:45] shonigmann opened #155 "Pre Flight Checks fail on sitl_multi_vehicle_track_circle.launch"
I am having issues getting the multi vehicle geometric control example (using `sitl_multi_vehicle_track_circle.launch`) working on my system. The single vehicle case works without any issue, but the drones in the multi-uav case won't take off. I don't see any errors or warnings on spawn or on running the launch file. But once the drones are ready to be armed, they continuously fail their preflight

[2020-10-08 17:24] shonigmann commented on #155
ahhh nevermind!

I had missed the fact that additional `parameters` files had been generated for each iris instance (under `~/.ros/sitl_iris_0/eeprom' and '~/.ros/sitl_iris_1/eeprom' respectively in case anyone runs into the same issue). Deleting those fixed everything for me!

[2020-10-08 17:24] #155 closed

[2020-10-09 07:43] FaboNo commented on #153
@Jaeyoung-Lim Following @mzahana if we consider that the drone is equipped with a camera, it will be great to include the yaw and yaw velocity in the flattargetCallback and thus in the computeBodyRateCmd. What will be the modification in the equations and if we want to implement it, which paper(s) do we have to read? The idea is to couple fastplanner (from hkust) and mavros_controller.

[2020-10-09 08:08] mzahana commented on #153
@FaboNo Have you looked at [px4_fast_planner](https://github.com/mzahana/px4_fast_planner) package where I did the required interface between FastPlanner and mavros_controllers?

[2020-10-09 08:09] mzahana commented on #153
The missing piece is the yaw rate which is not implemented in the geometric_controller, but it's doable.

[2020-10-09 08:43] Jaeyoung-Lim commented on #153
@FaboNo Nothing much to add since yaw is already handled in the controller through a different message.

As @mzahana mentioned, he already integrated into the HKUST fast planner in https://github.com/mzahana/px4_fast_planner so might be worth looking into that.

On adding yaw rate, I am not sure if is worth it. Quadrotor systems are differentially flat and yaw rate is usually not part of the flat

[2020-10-10 05:58] valenbase commented on #150
i mean exchange content on both sides of the symbol -

[2020-10-11 06:15] #154 closed

[2020-10-12 07:51] FaboNo commented on #153
@mzahana thank you I will have a look
@Jaeyoung-Lim yes you are right, but I was thinking it may be interesting to limit the rate to avoid slam issues (camera blurring or too large rotation in case of Lidar)

[2020-10-12 07:54] Jaeyoung-Lim commented on #153
@FaboNo Right :smile: If you are looking into reducing the yaw gain, it might be worth digging this back up: https://github.com/Jaeyoung-Lim/mavros_controllers/pull/35

The intention was to respect vehicle limits, since quadrotors usually suffer from large yaw step inputs but I think this will be also applicable for perception aware control

[2020-10-12 12:31] #114 closed

[2020-10-12 12:32] Jaeyoung-Lim commented on #119
@Robby119 Please reopen if the issue persists

[2020-10-12 12:32] #119 closed

[2020-10-12 12:33] #106 closed

[2020-10-12 12:34] #124 closed

[2020-10-12 12:34] #83 closed

[2020-10-12 12:34] #80 closed

[2020-10-12 12:35] #122 closed

[2020-10-12 12:36] Jaeyoung-Lim commented on #140
@Wayne-xixi Please reopen if the issue persists

[2020-10-12 12:36] #140 closed

[2020-10-14 05:57] FaboNo commented on #153
@Jaeyoung-Lim Ah interesting I will dig into it:)

[2020-10-23 08:29] Jaeyoung-Lim commented on #153
@FaboNo Any updates? I would be happy to support you on this

[2020-10-25 17:56] FaboNo commented on #153
@Jaeyoung-Lim

I read the two articles you mentioned to understand how you implemented the geometric controller and I have few questions:

in `void geometricCtrl::computeBodyRateCmd(bool ctrl_mode)`
`a_rd = R_ref * D_.asDiagonal() * R_ref.transpose() * targetVel_`;  is always equal to 0 since D_ is a null matrix (dx,dy,dz) = (0,0,0)

The geometric controller with mavros/PX4 implement the control l

[2020-10-25 21:03] Jaeyoung-Lim commented on #153
a_rd = R_ref * D_.asDiagonal() * R_ref.transpose() * targetVel_; is always equal to 0 since D_ is a null matrix (dx,dy,dz) = (0,0,0)

The geometric controller with mavros/PX4 implement the control laws from Faessler et al. paper but without the rotor drag components because it is easier to integrate with Mavros/px4?

[2020-10-26 11:02] FaboNo commented on #153
@Jaeyoung-Lim great explanations! Yes it helps a lot to clarify the points which were unclear to me... and it confirms that implementing a geometric controller on a real drone is not an easy task!

[2020-10-26 14:17] Jaeyoung-Lim commented on #153
@FaboNo In the end, it is not that complicated. It is just that it is not easy to control force with normal ESCs since there is no feedback therefore it is better to avoid using force / moment based controls in the first place.

[2020-11-06 14:26] HenryHuYu opened #156 "Tuning on a real drone"
Hi, Thanks for the great work. We are now tuning controller on a real drone. (To be more specific is a dji airframe F450). I have some questions and it is so great if you can help.
1) Previously we tuned it well in Airsim. But for a real drone things become different. As to my understanding,
`g_ * normalized_thrust + thrust_offset = throttle
`
 where such throttle is the hovering one.  That means

[2020-11-06 14:32] HenryHuYu commented on #156
For the log, the parameter is
max_acc_fb = 6.5
Kp_z = 12, Kv_z = 4.1
Kp_x = 9.6 Kv_x = 1.6
Kp_y = 9.6 Kv_y = 1.6
att_tau = 0.1
normalized thrust = 0.0346; thrust_offset = 0.0546

[2020-11-06 14:33] Jaeyoung-Lim commented on #156
1. The iris motor thrust constant has recently changed, but I was unable to tune this package against the latest firmware. You can look at the change in https://github.com/PX4/PX4-SITL_gazebo/pull/584

Therefore, we need to retune the geometric_controller against the changed constants. I would greatly appreciate if you can have a look.

This is true and is part of the problem. It is not linear in

[2020-11-06 14:36] HenryHuYu commented on #156
Thanks for your reply. uh it is my bad. the link is [https://review.px4.io/plot_app?log=01d5591e-0b4d-43d9-a6ea-e1b31bb41d78](url)

[2020-11-06 14:44] HenryHuYu commented on #156
The basic pipeline is that we use a dummy publisher pub to `setpoint/local_position/pose` to enter the offboard mode. After the UAV enter offboard mode and armed (by subscribe to mavros_msgs/State) we stop the dummy timer, and start the sampling timer to publish sampled flat target in a trajectory publisher, after 2 trajectory ends for some time, we call `land srv`  in mavros.

[2020-11-06 15:15] Jaeyoung-Lim commented on #156
@HenryHuYu Okay, so you are not using this package?

[2020-11-06 15:18] HenryHuYu commented on #156
I am using this package. During the tracking vertical and X axis trajectory part. I was using dummy publisher because in order to enter offboard, we need to publish some setpoint.

[2020-11-06 15:28] HenryHuYu commented on #156
The pipeline is:
1. dummy publisher (enter offboard and armed)
2. mavros controller tracking  a vertical trajectory. (The sampling last for 2 seconds and after 2 seconds,  trajectory Publisher keep publishing final target `(P(0,0,1.5), vel(0,0,0), acc(0,0,0)) `for like 5 seconds.
3. The trajectory publisher start to sample flat target in X axis while keep Z axis unchanged.  (The sampling last for

[2020-11-06 15:31] Jaeyoung-Lim commented on #156
@HenryHuYu There is already a state machine inside `geometric_controller` so a dummy publisher is not necessary

[2020-11-06 15:34] HenryHuYu commented on #156
Yes, I ve noticed that. Btw, Could you see the log url?  I ve already  link it above.

[2020-11-06 15:59] Jaeyoung-Lim commented on #156
@HenryHuYu What is your baudrate on the serial connection between the companion computer?

[2020-11-06 16:05] HenryHuYu commented on #156
if I remember correctly, it is 921600

[2020-11-06 16:48] HenryHuYu commented on #156
to my understanding , it seems to be Kv_x is too big since it vibrates before it gets to the target position. But kv_x is already set to be 1.8. Kinda confused here. also I noticed that Z is over 1.5m
 as the polynomial trajectory set. Is it because Kp_z is too big?

[2020-11-07 02:55] HenryHuYu commented on #156
I also upload a video for you. If you have time to have a look. [https://www.youtube.com/watch?v=FEhl2XZoCtQ](url)

[2020-11-07 14:19] Jaeyoung-Lim commented on #156
@HenryHuYu Thanks for the video -

I notices that you are flying indoors - how does your state estimation look? Could it be a time delay on the information that you are using regarding linear velocities/ postion that is causing the oscillations?

[2020-11-07 15:11] HenryHuYu commented on #156
We are using a Intel T265 for state estimation and send to mavros/vision_pose/pose, basically is [https://github.com/Auterion/VIO](url) we use a Jetson Xavier Nx as Companion computer and connect it to pixhawk 4 with TEMEM 2.
We tried to tune today as well. We thought it was att_tau is too big and the UAV cannot react to `Rerr` fastly. And indeed when we tune it from 0.1 to 0.08, things get a litt

[2020-11-08 05:04] HenryHuYu commented on #156
I consider your idea about state estimation delay, but I think if it is caused by delay, it should get more far away than the final target position(`1.5m`). But as you can see in the following picture, (the final target is `1.5m`), before it reach 1.5m, it start to get back. And then the Kp_x takes affect and starts to oscillate.
![log_position](https://user-images.githubusercontent.com/30193721/9

[2020-11-08 17:02] HenryHuYu commented on #156
Hi, emm tried again and still didn’t work out. But we find that when the trajectory sample point is something like `aref = -1.5`. It means that the UAV should speed down at this point and the drone speeds down so fast. thus the difference between real position and sampled position(which is error in position `Pe`) become large really fast. We Set Kp_x to be 10. But since F450 is a pretty normal air

[2020-11-09 00:57] coldhenry opened #160 "Apply to real drone + thrust_scaling parameter is set to zero"
Hi, thanks for the great project.

I've successfully run the sitl launch file and I would like to apply to a real drone (QAV 250).
I tried to run the 2 launch files with the only modification: `<arg name="fcu_url" default="/dev/ttyUSB0:57600"/>`
[code]
Both have some warns about thrust_scaling parameter like following:
**In sitl_trajectory_track_circle.launch**
<img src="https://user-images.github

[2020-11-09 08:03] Jaeyoung-Lim commented on #160
@coldhenry First of all, if your baudrate is set to 57600, it is way too low to have any kind of offboard control working. How is your computer running ROS connected to the fmu? The recommended rate is 921600, therefore usually this means you need a serial connection with a onboard computer

[2020-11-13 18:44] coldhenry commented on #160
Thanks for the prompt response. I launched the geometric controller in my computer and tried to connect to the fmu with SiK radios. If I understand correctly, do you mean that it is impossible to use telemetry radio because the baud rate is too low? Thank you for the clarification!

[2020-11-13 18:55] Jaeyoung-Lim commented on #160
Yes, it is impossible - You need at least a few tens of hz to control the vehicle, which the telemetry radio is unable to send

[2020-11-26 00:27] coldhenry opened #161 "process has died [pid 9907, exit code -6]"
Hello Jaeyoung,

I am working on the installation of this project on a companion computer as you advised in #160 and there is another issue coming out during roslaunch.

<img src="https://user-images.githubusercontent.com/54171001/100293909-1614c280-2f3a-11eb-80fb-e931ad78eeab.png" >

**Version and platform**
Companion computer: Odroid XU4
ROS: Melodic
Ubuntu: 18.04 Bionic
PX4 Version: 1.11

Any t

[2020-12-01 01:02] #160 closed

[2020-12-09 06:58] kadhirumasankar opened #162 "What topic do I publish waypoints to?"
Hi. Thanks a lot for your work on this package. I have researched it in the past, and I am trying to implement it for one of my projects right now.

I have a drone in Gazebo. Is it possible to use this package to make the drone navigate to various coordinates that I pass to it? What topic should I publish my points to?

I looked at the README but couldn't find anything. Any kind of help would be g

[2020-12-18 05:19] #162 closed

[2020-12-24 19:58] Jaeyoung-Lim commented on #161
Sorry for the late response.

Are you sure you are running the latest `master`? I just ran the setup, and it is working as expected

[2021-01-22 12:17] Jaeyoung-Lim commented on #161
@coldhenry Did you manage to solve your problem?

[2021-01-31 19:46] #102 closed

[2021-01-31 19:47] #112 closed

[2021-02-02 04:42] dedyebhi opened #164 "how to change the circle trajectory program into a squere trajectory"
Hi @ Jaeyoung-Lim,
I'm having some trouble understanding properly how to publish the path to a geometric controller which will then command / mavros / setpoints to FC by itself.
Until now I used the example you provided launched with sitl_trajectory_track_circle.launch.
Which program should you edit to change the shape trajectory to squere trajectory?

[2021-02-02 04:55] Jaeyoung-Lim commented on #161
Closing since original author didn't respond.

Please reopen if you feel like this is still an issue @coldhenry

[2021-02-02 04:55] #161 closed

[2021-02-02 04:57] #150 closed

[2021-02-02 04:58] Jaeyoung-Lim commented on #144
@HenryHuYu Probably for tuning, it would be better if you just publish a stationary position setpoint and move it from there

Kp is a gain for the position controller and attitude_tau is the rate controller time constant.
If it still oscillates you need to probably make it bigger

[2021-02-02 07:08] quarcle commented on #150
Has anyone found out the problem and how to fix it?

[2021-02-02 07:10] Jaeyoung-Lim commented on #150
@quarcle Could you clarify what the problem is?

[2021-02-02 07:15] quarcle commented on #150
[This code](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp) line 444 uses `error_att = 0.5 * matrix_hat_inv(rotmat_d.transpose() * rotmat - rotmat.transpose() * rotmat);` while the referenced paper uses `error_att = 0.5 * matrix_hat_inv(rotmat_d.transpose() * rotmat - rotmat.transpose() * rotmat_d);`. When I changed to the error equ

[2021-02-04 13:29] pluto-project-it opened #165 "Kvel_ initalitation error?"
In geometric_controller.cpp line 489:
Kvel_ << -Kvel_x_, -Kvel_z_, -Kvel_z_;
Shouldn't it be:
Kvel_ << -Kvel_x_, -Kvel_y_, -Kvel_z_;
?
Thank you for your work.
Giorgio Vaccarino

[2021-02-04 14:08] Jaeyoung-Lim commented on #165
@pluto-project-it I think that looks like an error. Would you mind making a PR for the fix?

[2021-02-04 17:35] pluto-project-it commented on #165
We are working to manage multiple MultiDOFJointTrajectoryPoint and we have heavily modified the code and is not stable yet.
Said that if you want I can do a PR with everything as memo.

[2021-02-04 17:39] Jaeyoung-Lim commented on #165
@pluto-project-it Not sure if I follow, the ask was not to pull in all your changes, but only the fix you mentioned in the original issue

[2021-02-05 08:37] pluto-project-it commented on #165
Did in https://github.com/Jaeyoung-Lim/mavros_controllers/pull/166#issue-568190625

[2021-02-05 09:05] #165 closed

[2021-02-12 16:18] pluto-project-it opened #168 "geometric_controller on hexacopter"
Hi all,
I would like to try using geometric_controller to fly offboard on a hexacopter.
Do you think there are any incompatibilities since the studies mentioned are about quadcopters?
Does anyone have experience with this or any advice on tuning?

[2021-02-12 16:40] Jaeyoung-Lim commented on #168
It shouldn't matter, since we are controlling angular rates

[2021-02-12 18:19] pluto-project-it commented on #168
I thought so but preferred your confirmation.
Thank you.

[2021-02-14 09:43] dedyebhi opened #169 "Edit Trajectory"
how do you edit the trajectory circle program, sir? because my final project in college I used a square trajectory. Thank you sir

[2021-02-14 10:41] Jaeyoung-Lim commented on #169
@dedyebhi The trajectory shapes are defined in https://github.com/Jaeyoung-Lim/mavros_controllers/blob/393242d0a42904383b5bb93e09b5dc620eab1d43/trajectory_publisher/src/shapetrajectory.cpp#L70

You can add a square trajectory as another "shape"

[2021-02-14 10:41] Jaeyoung-Lim commented on #164
Duplicate of https://github.com/Jaeyoung-Lim/mavros_controllers/issues/169, closing

[2021-02-14 10:41] #164 closed

[2021-02-14 10:42] Jaeyoung-Lim commented on #168
@pluto-project-it You can already try a hexacopter in SITL, using the `typhoon_h480` model

[2021-02-14 13:14] dedyebhi commented on #169
Can you help me create a program to add a squere trajectory?

[2021-02-14 13:29] Jaeyoung-Lim commented on #169
@dedyebhi Is there more information that you need? where are you stuck?

[2021-02-14 13:30] #169 closed

[2021-02-14 13:30] dedyebhi commented on #169
I don't understand how to add a square trajectory

[2021-02-14 13:32] Jaeyoung-Lim commented on #169
@dedyebhi What part do you not understand? You just need to add a case for a square in

https://github.com/Jaeyoung-Lim/mavros_controllers/blob/393242d0a42904383b5bb93e09b5dc620eab1d43/trajectory_publisher/src/shapetrajectory.cpp#L70-L99

[2021-02-14 13:34] dedyebhi commented on #169
can you reason me for example?

[2021-02-14 13:37] Jaeyoung-Lim commented on #169
@dedyebhi You can use the circle trajectory as an example. I specifically linked the code as an example

[2021-02-14 13:39] dedyebhi commented on #169
Eigen::Vector3d shapetrajectory::getPosition(double time) {
  Eigen::Vector3d position;
  double theta;

  switch (type_) {
    case TRAJ_ZERO:

      position << 0.0, 0.0, 0.0;
      break;

    case TRAJ_CIRCLE:

      theta = traj_omega_ * time;
      position = std::cos(theta) * traj_radial_ + std::sin(theta) * traj_axis_.cross(traj_radial_) +
                 (1 - std::cos(theta)) * traj_axis

[2021-02-14 13:40] dedyebhi commented on #169
Is it like this ?

[2021-02-14 13:41] Jaeyoung-Lim commented on #169
@dedyebhi Yes, but you would need to write the square part

[2021-02-14 13:45] dedyebhi commented on #169
Can you help me, what is squere part like?

[2021-02-14 13:49] Jaeyoung-Lim commented on #169
@dedyebhi I have pointed you to the relevant places where you can modify this package. Drawing the square trajectory seems to be part of what you are doing, and not related to this package. Therefore, unfortunately I think that is the part that you need to figure out yourself.

[2021-02-14 13:52] dedyebhi commented on #169
please, i need your help

[2021-02-14 13:52] dedyebhi commented on #169
please, i need your help

[2021-02-14 14:26] Jaeyoung-Lim commented on #169
@dedyebhi I have already helped you!

I cannot implement your project for you. Since the feature you are requesting is not something relevant to this package, you would need to figure how to implement a square yourself.

Please feel free to ask if you have any questions regarding this package.

[2021-02-14 14:32] dedyebhi commented on #169
can you send me a reference regarding the square trajectory quadcopter?

[2021-02-14 16:38] dedyebhi opened #170 "trajectory_publisher"
[code]

why are the trajectory_type circle and lumniscate values ​​different? what makes the difference?

[2021-02-14 17:29] Jaeyoung-Lim commented on #170
@dedyebhi That is how you choose which trajectory to publish (e.g. circle or lamniscate).

Have you tried running the code by changing the values? You will see that the reference trajectory looks different

[2021-02-25 13:47] dedyebhi opened #171 "reference pose"
how to add a reference pose?

[2021-02-25 14:03] Jaeyoung-Lim commented on #171
@dedyebhi If you are asking about the `geometric_controller` it does not have a reference pose, since it is tracking differentially flat outputs (see paper linked in readme)

You can look at how the `trajectory_publisher` is passing its reference to the `geometric_controller` if you want to check how the reference is being passed

[2021-02-25 14:04] #168 closed

[2021-02-28 23:42] sriram-b opened #173 "PX4 version needed for tuned geometric_controller parameters"
Hi,

   In #156 you noted that the iris motor thrust changed in a recent release of PX4 firmware, and that the geometric_controller parameters needed re-tuning as a result. So I wanted to know, which version of the PX4 firmware are the parameters in geometric_controller tuned for? Or am I misunderstanding what you meant?

Thank you in advance.

[2021-03-01 05:54] Jaeyoung-Lim commented on #173
@sriram-b with latest mastee, it works without any additional tuning. Are you asking becuase it is not working for you?

[2021-03-01 23:18] sriram-b commented on #173
@Jaeyoung-Lim

Thanks for the quick response. I'm in a time crunch currently so I would really appreciate it if you could do that again.

I was asking because I am currently doing a project where the drone does not seem to be tracking the given trajectory very closely. To test my setup, I tried cloning the repository and running, without any modification, the [lamniscate example](https://utexas.bo

[2021-03-01 23:22] Jaeyoung-Lim commented on #173
@sriram-b I am not sure what you are asking me to do "again" - it is already tuned

The lamniscate trajectory is in general a much more challenging trajectory to track. You can slow the trajectory speed to make it less challenging

Probably adding the acceleration reference will improve the tracking performance

[2021-03-01 23:33] sriram-b commented on #173
@Jaeyoung-Lim

I am unfamiliar with the acceleration reference, how can I add that?

[2021-03-01 23:41] Jaeyoung-Lim commented on #173
@sriram-b https://github.com/Jaeyoung-Lim/mavros_controllers/blob/07d0203290c0bdd97a21389db2bdf6d3b56077ef/trajectory_publisher/src/shapetrajectory.cpp#L143

Have you tried lowering the speed? I in purpose made the lamniscate trajectory hit the limit of the controller.

[2021-03-01 23:51] sriram-b commented on #173
@Jaeyoung-Lim

Lowering the speed does help, it works well after that. I was under the impression that it should've worked out of the box, so that's a slight relief.

I'll look into adding the acceleration reference then and make another issue if I need to ask anything else, thank you!

[2021-03-01 23:51] #173 closed

[2021-03-10 14:39] Kavin-Kailash opened #174 "Compatibility with Ardupilot Copter Firmware"
Thanks for the great work.

From the files, it is apparent that this package is intended for use with PX4 mainly. I was wondering about the compatibility with the Ardupilot Flight Stack.

[2021-03-13 03:34] Jaeyoung-Lim commented on #174
@Kavin-Kailash Since it is using mavlink it should be overall compatible. However, there might be some subtle differences on how offboard control works and this has never been tested.

[2021-03-13 05:05] Kavin-Kailash commented on #174
@Jaeyoung-Lim Thanks for the quick reply. From the documentation I could infer that the final setpoints sent to PX4 are mavros_msgs/AttitudeTarget and Pose Stamped , is there any way to configure geometric_controller so that in only provides a specific setpoint?

[2021-03-13 08:11] Jaeyoung-Lim commented on #174
@Kavin-Kailash Yes you can. Depending on the setpoint you want to use, you can use either the trajectory_publisher or the geometric_controller

[2021-03-13 08:16] #171 closed

[2021-03-13 08:17] #170 closed

[2021-03-13 08:18] Jaeyoung-Lim commented on #153
@mzahana Are you still using this package and have plans to move forward with the yaw setpoints?

[2021-03-13 08:18] #156 closed

[2021-03-13 08:19] Jaeyoung-Lim commented on #156
Closing as stale, please reopen if this is still an issue @HenryHuYu

[2021-03-13 08:19] #151 closed

[2021-03-13 08:20] #149 closed

[2021-03-13 08:21] Jaeyoung-Lim commented on #143
@Robby119 PX4 simply uses a normalized thrust (-1 ~ 1), and I am just trying to convert my metric thrust inputs into normalized thrust inputs

[2021-03-13 08:21] #143 closed

[2021-03-13 09:21] mzahana commented on #153
@Jaeyoung-Lim Sorry for getting disconnected from this issue, I am short on time at the time being. I use this package on demand, i.e. depending on the project(s) I work on. At the time being, I am not using it. However, I still believe that the yaw setpoint should be in the flat target callback, and msg. I have had the intention to submit a PR for this, but not soon as I am swamped with other tas

[2021-03-22 13:12] #174 closed

[2021-03-24 07:52] shupx opened #175 "A bug about the reference acceleration in geometric controller"
Thanks for your great work!
It seems like there is a bug in geometric_controller.cpp
the relevant code is below:

https://github.com/Jaeyoung-Lim/mavros_controllers/blob/2f0feb62ee638952be58798cc4d3a45811592adb/geometric_controller/src/geometric_controller.cpp#L156-L159
the line 157 is wrong, and it should be:
`targetAcc_ = toEigen(msg.acceleration);`

here the geometric controller receives refere

[2021-03-24 08:06] Jaeyoung-Lim commented on #175
@shupx Thanks! Would it be possible for you add a pull request with the fix?

[2021-03-24 09:35] shupx commented on #175
I have made a pull request

[2021-03-24 12:00] #175 closed

[2021-03-29 07:12] #105 closed

[2021-03-29 07:12] #101 closed

[2021-03-29 07:12] #103 closed

[2021-03-29 07:12] #96 closed

[2021-03-29 07:13] Jaeyoung-Lim commented on #110
@HenryHuYu It is used when you publish to the topic that triggers the callback

[2021-03-29 07:13] #110 closed

[2021-05-23 03:10] 958117216 commented on #153
@mzahana man，can you share the  paper from Martin Saska's group ? I will appreciate it.

[2021-05-23 21:03] rptamin opened #179 "Controller cannot track reference trajectory and travels upwards infinitely"
I am attempting to integrate the geometric controller into AirSim and I am using PX4 version v1.11.3. I am running into an issue where the controller cannot hold altitude. I am currently using the circle reference trajectory given in this repo. The overall trajectory looks like a poorly tracking helix. I reduced the norm thrust constant along with offset, but it still cannot keep altitude. How wou

[2021-05-23 21:08] Jaeyoung-Lim commented on #179
@Jaeyoung-Lim Please provide a log and how you are running this package.

Most likely it is the thrust scaling not being tuned ( you can check the logs to verify this).

However, the information you have provided is not enough to make any colclusions

[2021-05-23 21:27] rptamin commented on #179
Here is an upload of the logs:
https://review.px4.io/plot_app?log=5229a0ae-3451-4068-8fa0-20011323aa4d

[2021-05-23 21:34] Jaeyoung-Lim commented on #179
@rptamin and...how are you running the package?

[2021-05-23 21:39] rptamin commented on #179
I have launch file which is shown here: `
  <include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch"/>

  <include file="$(find exploration_manager)/launch/rviz.launch" />

	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="re

[2021-05-23 21:52] rptamin commented on #179
@Jaeyoung-Lim I should note that I have also messed around with the attctrl_constant. It was ~ .1 in previous tests but still had the same issue. I also tried to use ctrl_mode = 1. It looks like there is sustained acceleration in the z direction when looking at the raw acceleration chart.

[2021-05-23 21:53] Jaeyoung-Lim commented on #179
@rptamin If you look at the log, the actuator outputs are all saturated. Have you tried the default launchfile?

[2021-05-23 22:04] rptamin commented on #179
Thank you! I reset every parameter how it is in repo, and it worked! My max acceleration was set to .5. That may have been the error.

[2021-05-23 22:04] #179 closed

[2021-05-26 10:54] mzahana commented on #153
@958117216
The paper is called Autonomous Landing on a Moving Vehicle with an Unmanned Aerial Vehicle", see section 9.

[Link to the paper](https://www.google.com/url?sa=t&source=web&rct=j&url=https://onlinelibrary.wiley.com/doi/am-pdf/10.1002/rob.21858&ved=2ahUKEwiYmOKJlefwAhVThf0HHXPyBc4QFjABegQICRAC&usg=AOvVaw2HxxelRaStqHHtDKzZS6cr)

[2021-06-30 11:50] mzahana opened #181 "feedthrough_enable_ does not have a ROS parameter"
Hi @Jaeyoung-Lim
I noticed that the [feedthrough_enable_](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L52) variable does not have a ROS [parameter](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L83-L104). Was it on purpose, or  mistakenly missed ?

[2021-06-30 11:53] Jaeyoung-Lim commented on #181
@mzahana The intention of `feedthrough_enable_` was to configure it dynamically and not as a static parameter: https://github.com/Jaeyoung-Lim/mav_dob/blob/87086c79ccc4a40277d1f2c0aac0ea8e7400d3f4/dob_controller/src/dob_controller.cpp#L69

[2021-06-30 14:23] mzahana opened #182 "What are norm_thrust_const_ and norm_thrust_offset_ for?"
Hi @Jaeyoung-Lim
Could you please provide some explanation on what [norm_thrust_offset_](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L94) and [norm_thrust_const_](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L93) are used for?
Is one of them related to the vehicl

[2021-06-30 14:28] mzahana commented on #182
Also, what is the effect of [attctrl_constant](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L92)?

[2021-06-30 16:06] Jaeyoung-Lim commented on #182
It is the linear constants that maps the thrust values(N) into normalized thrust(0 ~ 1)

You can check `tau` is (which is a time cosntant for attitude control in Brescianini, Dario, Markus Hehn, and Raffaello D'Andrea. Nonlinear quadrocopter attitude control: Technical report. ETH Zurich, 2013.

[2021-07-01 06:07] mzahana commented on #182
@Jaeyoung-Lim Is there a recommended way of tuning such parameters for different multi-rotors?

[2021-07-01 06:08] Jaeyoung-Lim commented on #182
@mzahana You are just mapping your thurst (N) to normalized thrust values. you can do this by measuring your thrust, or simply hand tuning it

[2021-07-01 06:25] mzahana opened #183 "Adding integrators to position controller"
@Jaeyoung-Lim

I was thinking if it makes sense to add integrators to [posController](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/567d9d4771b2ffb38464765e040c31e0c982a5e9/geometric_controller/src/geometric_controller.cpp#L412). This allows to get rid of steady state errors (e.g. caused by disturbance).

You can check Eq. 7 in [this paper](https://www.researchgate.net/publication/328573

[2021-07-01 06:37] Jaeyoung-Lim commented on #183
@mzahana Would be interesting to see how the performance is affected. I did not add a integrator since I was aiming for more dynamic maneuvers in this implementation, but if you can make it work reliably we can make it optional.

[2021-07-05 08:26] #181 closed

[2021-07-08 18:24] brunopinto900 opened #184 "AirSim"
Hello,

Thank you for the amazing code. I intend to use this as my controller for autonomous drone racing.

Can this repo work with AirSim instead of gazebo?

Thank you.

[2021-07-08 21:45] Jaeyoung-Lim commented on #184
@brunopinto900 Thanks for the nice complement. Sure, this package directly interfaces with PX4, so the simulation framework doesn't matter

[2021-07-11 22:09] #184 closed

[2021-07-11 22:09] #183 closed

[2021-07-11 22:09] #182 closed

[2021-07-14 09:22] edwinpha opened #185 "From Sim Drone to Real Drone - Some doubts/issues"
Hi, first of all, thanks for making public such a great project.

I have some doubts related to how to tune some constants. Particularly, the norm_th and norm_offset.

In gazebo simulation, I have noticed a gap in z of around 15-20 cm less than the expected hovering point (even variating it). As mentioned in #156, the motor coefficient has changed and this can be solved with a slight variation of

[2021-07-18 11:52] brunopinto900 opened #186 "Where is the code for reduced attitude control?"
Hello,

I can't find Reduced attitude controller for yaw control in the master branch, this something its not yet completed? I did found the code on a pull request.

Thank you.

[2021-07-18 12:43] Jaeyoung-Lim commented on #186
@brunopinto900 As you can see in the pull request: https://github.com/Jaeyoung-Lim/mavros_controllers/pull/35 the implementation never got merged

[2021-07-18 14:18] brunopinto900 commented on #186
Ah i see. I am working towards drone racing, so i could continue the PR. Also, how hard could it be to perform benchmark? For example, comparing the different controllers available in the repo?

[2021-07-18 14:41] Jaeyoung-Lim commented on #186
@brunopinto900 Not so hard, depending on what kind of benchmark you are looking for. You can just add test cases for different controllers and evaluate them according to your metric.

[2021-07-18 14:49] brunopinto900 commented on #186
At the moment, i am mostly concerned about time, how fast the quadrotor reaches the desired attitude (settling time). So it shouldn't be so hard. Have you thought of adding other controllers? I can help with that.

[2021-07-18 15:19] Jaeyoung-Lim commented on #186
@brunopinto900 I have been wanting to add a model predictive controller to this repo, but haven't had time yet.

It would definitely be very interesting if we can have more controllers and also be able to do quick benchmarks between them

[2021-07-18 16:31] brunopinto900 commented on #186
Okay, i will implement the reduced attitude controller, taking the PR as base. But why didn't you merged? Did you had any issues? Is there something i need to know?

[2021-07-18 17:04] Jaeyoung-Lim commented on #186
@brunopinto900 The PR got stale while the rest of the code progressed :smile: Also I didn't need it therefore, the code just got obsolete

[2021-07-19 10:10] Novotendo opened #187 "/mavros/local_position/pose not working properly"
Hello @Jaeyoung-Lim

I'm currently trying to use your package using a single GPS for position estimation as first test. The problem is that, when my drone is at the ground and I read the topic /mavros/local_position/pose, the X and Y are always 0.0. The rest of the values: Z, and the quaternion are correctly displayed. Maybe do I need to change a parameter in the pixhawk? I'm using:
-Pixhawk 2.4.8

[2021-07-19 10:14] Jaeyoung-Lim commented on #187
@Novotendo Are you sure you have a valid position estimate (e.g. GPS fix)?

[2021-07-19 10:33] Novotendo commented on #187
Yes, I've got 3D Lock, here is a capture:
![imagen](https://user-images.githubusercontent.com/33312243/126147097-0af2eeb5-9f79-4d6d-bebf-89b508734e41.png)

[2021-07-19 10:47] Jaeyoung-Lim commented on #187
@Novotendo Okay, and have you tried arming the vehicle?

[2021-07-19 10:57] Novotendo commented on #187
Even armed, it is still in the same way. What is considered a valid position estimate? And how could I get it?

[2021-07-19 11:01] Jaeyoung-Lim commented on #187
@Novotendo Can your vehicle fly in position mode?

You can look up docs.px4.io to look at estimator related information of PX4

[2021-07-19 11:11] Novotendo commented on #187
It is set into OFFBOARD mode

[2021-07-19 11:13] Jaeyoung-Lim commented on #187
@Novotendo If you don't have a valid position estimate, you won't be able to do anything in offboard mode. Therefore, it is important that you make sure everything works on your vehicle (flying in position / mission mode) before you put the vehicle into offboard mode.

The fact that you mention you don't have position estimates just means that your EKF is not able to have a valid position estimate

[2021-07-19 11:16] Novotendo commented on #187
And which EKF params should be set for a vehicle using just GPS data?

[2021-07-19 11:18] Jaeyoung-Lim commented on #187
@Novotendo You cannot use just GPS data. Please go through the PX4 documentation: https://docs.px4.io/master/en/advanced_config/tuning_the_ecl_ekf.html since it is explained why this is the case

[2021-07-19 13:11] brunopinto900 commented on #186
Hey again, could this be a nice controller to add to this repo?

https://www.youtube.com/watch?v=8OVsJNgNfa0

?

[2021-07-19 15:06] Jaeyoung-Lim commented on #186
@brunopinto900 Why not :wink:

[2021-07-19 16:15] brunopinto900 commented on #153
I am adding yaw field on the FlatTarget.msg. But i am having a compilation error:

Errors     << geometric_controller:make /home/bruno/catkin_ws/logs/geometric_controller/build.make.004.log
/home/bruno/catkin_ws/src/mavros_controllers/geometric_controller/src/geometric_controller.cpp: In member function ‘void geometricCtrl::flattargetCallback(const FlatTarget&)’:
/home/bruno/catkin_ws/src/mavros_c

[2021-07-19 18:57] Jaeyoung-Lim commented on #153
@brunopinto900 Your message definition is not updated. Do it after 'catkin clean'

[2021-07-19 19:05] brunopinto900 commented on #153
I tried that before opening the issue xD, didn't work either.

[2021-07-19 19:53] Jaeyoung-Lim commented on #153
@brunopinto900 Then there is something wrong with your workapace path

[2021-07-20 09:00] Novotendo commented on #187
Yes, you were right @Jaeyoung-Lim ! And one more question: do you know how to "reset" the current position of the drone via mavros to (0,0,0)?

[2021-07-20 10:04] Jaeyoung-Lim opened #188 "Add Lissajous curves as reference trajectory"
**Problem Description**
Add a Lissajous reference trajectory so that the we can excite all axis of the vehicle for control inputs

The lissajous trajectory has been used for system identifcation for multirotors in a number of papers now:
- Böhm, Christoph, Martin Scheiber, and Stephan Weiss. "Filter-Based Online System-Parameter Estimation for Multicopter UAVs."

[2021-07-20 11:18] brunopinto900 commented on #153
Had to execute catkin clean on other workspace, that was somehow interfering with the mavros_controller workspace. Everything is working right now.

[2021-07-20 13:45] brunopinto900 commented on #153
To test the yaw field in the FlatTarget.msg, i requested the quadrotor to fly a circle while pointing (yaw) to the center of rotation. Here is the results:

https://user-images.githubusercontent.com/48806267/126334615-44e0ed2f-14c7-4241-94c3-17b1ac5c9220.mp4

https://user-images.githubusercontent.com/48806267/126334869-498370d2-2b36-4c3a-97b7-25e7df114809.mp4

I added in the shapeTrajectory.cpp th

[2021-07-20 13:46] brunopinto900 commented on #153
To test the yaw field in the FlatTarget.msg, i requested the quadrotor to fly a circle while pointing (yaw) to the center of rotation. Here is the results:

https://user-images.githubusercontent.com/48806267/126334615-44e0ed2f-14c7-4241-94c3-17b1ac5c9220.mp4

https://user-images.githubusercontent.com/48806267/126334869-498370d2-2b36-4c3a-97b7-25e7df114809.mp4

I added in the shapeTrajectory.cpp th

[2021-07-20 14:24] Jaeyoung-Lim commented on #153
@brunopinto900 Looks good, but please make a pull request, so that we can discuss the details

[2021-07-20 19:05] brunopinto900 opened #190 "Position controller - possible improvement"
The position controller is defined as follows

[code]

However, i was wondering with the following approach (cascade PID controller):

//Position Control
[code]

Where traj can be the circle trajectory.

I can work on this.

[2021-07-21 08:06] Jaeyoung-Lim commented on #190
@brunopinto900 Thanks for the suggestions, but it would be more clear for me if the suggestions were in a form of a pull request so that we can discuss properly

[2021-07-21 09:09] brunopinto900 commented on #190
You are right. I can work on that and do a pull request.

[2021-07-21 09:28] #190 closed

[2021-07-21 10:04] Zartris commented on #184
Well this gives me some problems as I'm getting "Resource not found: gazebo_ros" so there must be some dependencies

[2021-07-21 10:08] Jaeyoung-Lim commented on #184
@Zartris
[code]

[2021-07-21 12:10] brunopinto900 commented on #186
Have you tested the reduced attitude controller in the PR? Did it work? Because, in my implementation, the quad crashes every time after takeoff.

[2021-07-21 12:15] Jaeyoung-Lim commented on #186
@brunopinto900 Yes, it was working are you using the PR branch directly?

[2021-07-21 12:16] brunopinto900 commented on #186
Yes, i am using it directly. Hmm, but what changed that might cause instabillity?

[2021-07-21 12:33] Jaeyoung-Lim commented on #186
@brunopinto900 I don't remember anymore. We would have to fix it if it is unstable :smile:

[2021-07-21 14:01] Zartris commented on #184
Yes I got it working, I was just mentioning the dependency :)
I just set the gazebo parameters in the launch file to be false and it fixed it.

[2021-07-21 14:39] Jaeyoung-Lim commented on #184
@Zartris Great, anyway this seems to be unrelated to this issue

[2021-07-21 15:29] brunopinto900 commented on #186
Experiments also revealed that a yaw Euler angle ψ is not well suited to define a desired rotation about the quadrocopter’s
z-axis. Due to the pitch angle θ, which is only defined in a range of [ −π/2,π/2], jumps in ψ occur if the pitch angle would exceed its range. If these jumps are not considered in the input trajectory, the quadrocopter may rotate unintentionally about its yaw axis.
https://ww

[2021-07-21 16:47] brunopinto900 commented on #186
I did this plot on plot juggler

![plot](https://user-images.githubusercontent.com/48806267/126526838-5dd6f242-da37-43c3-b848-c6a13ac1c6b4.png)

reference/pose is the desired quaternion calculated by the reduced attitude control scheme (here converted to Euler angles)
reference/traj_pose is the trajectory reference attitude here converted to Euler angles

In the third axis, you see Yaw increasing

[2021-08-23 15:34] #185 closed

[2021-08-23 16:08] Jaeyoung-Lim commented on #185
@edwinpha Sorry that I missed this issue, did you manage to figure everything out?

[2021-08-24 09:16] edwinpha commented on #185
@Jaeyoung-Lim Yes! It took me a little while because I needed to be very sure (did not want to risk the drone), however, it did work as expected.

[2021-08-24 09:23] Jaeyoung-Lim commented on #185
@edwinpha Exciting! Could you share any videos of the vehicle flying?

[2021-08-24 09:44] edwinpha commented on #185
Sure, I modify a little bit the code (landing for example), but this video is essentially your code.
Though, I am currently working to make it more precise without losing much of its aggressivity. (Among other stuff)

https://user-images.githubusercontent.com/56879821/130593342-4e84056e-04be-491d-b5b2-448215720829.MOV

[2021-08-24 10:32] Jaeyoung-Lim commented on #185
@edwinpha Thanks! Looks awesome!

[2021-08-30 03:29] 958117216 opened #192 "some questions about the tracking performance"
Hello, I have encountered some problems, I am very confused and hope to get your help.
I use the default parameters to run
roslaunch geometric_controller sitl_trajectory_track_circle.launch

![2021-08-30 11-12-47 的屏幕截图](https://user-images.githubusercontent.com/46185326/131280720-68642e9e-ee91-420b-abef-4fb1fbf6b7a8.png)

The plane can't keep up with the target well.

so I turn down  the  angular

[2021-08-30 06:44] Jaeyoung-Lim commented on #192
@958117216 What is your question?

[2021-08-31 02:19] 958117216 commented on #192
I turn down the angular velocity of target ,Shouldn't the tracker follow better? Why does the plane flip? As shown in Figure 2

[2021-08-31 03:40] 958117216 commented on #192
Is it a problem with the  firmware version? I use  v1.11.0-beta1 to simulate.

[2021-08-31 08:15] Jaeyoung-Lim commented on #192
@958117216 What did you tune down exactly? and why would turning down the angular velocity target result in better following performance?

and when does the vehicle flip?

[2021-09-01 03:45] 958117216 commented on #192
@Jaeyoung-Lim     Sorry for not being able to express clearly.

1.  I change the  angular velocity of the  circular trajectory, i.e. shape_omega.When the trajectory speed decreases, shouldn’t the trajectory tracking controller be easier to track?

2. I suspect it is a firmware version problem. Two versions v1.9.2 and v1.11.0-beta1 were selected for the simulation.Using different firmware, I record

[2021-09-13 18:30] mzahana commented on #188
@Jaeyoung-Lim I am wondering how you intend to use this trajectory? Are you doing system identification?

[2021-09-13 18:33] mzahana commented on #144
@Jaeyoung-Lim I am also wondering what would be the best approach to tune this controller for real vehicles. How would you start with initial values based on a given vehicle specs?

[2021-09-13 18:44] Jaeyoung-Lim commented on #144
@mzahana My recommendation is that I creat a model that is as similar as the real vehicle ( including px4 tuning gains) and tune this controller on top of that model

[2021-09-13 19:07] Jaeyoung-Lim commented on #188
@mzahana Yes, this will be presented in the PX4 Dev summit

[2021-09-13 19:15] mzahana commented on #188
@Jaeyoung-Lim which session?

[2021-09-13 19:38] Jaeyoung-Lim commented on #188
@mzahana This would be included in this talk: https://px4summit2021.sched.com/event/m8VY/a-pipeline-for-data-driven-dynamics-modelling-for-uavs-using-flight-logs-manuel-galliker-eth-zurich

[2021-09-14 16:27] edwinpha commented on #185
Hey @Jaeyoung-Lim, I am still working on some HW tests.

When the waypoint or trajectory is far enough the controller works really well.
However, for short movements, it is too aggressive. The drone's roll and pitch angle are really steep for movements under 1.5 meters approx.
I've tried reducing max_acc, and, Kp and Kv of axis X-Y; though it is still a little bit aggressive!

Any advice comes to

[2021-09-30 05:48] shubham-shahh opened #194 "Mavros_controllers not working with px4 v 1.11.0"
Hi, I am trying to use Mavros controllers with [this](https://github.com/HKPolyU-UAV/E2ES) repo and they are using px4 v 1.11.0 and I am unable to take off with mavros_controllers in the repo mentioned above
@Jaeyoung-Lim

thanks

[2021-10-07 01:29] sligeek100 opened #195 "geometric_attcontroller function attiitude error formula typo"
Hi Jaeyoung
-- In geometric_controller.cpp function geometric_attcontroller, error_att = 1/2 * matrix_hat_inv(Rd' * R - R'**R**), should be
error_att = 1/2 * matrix_hat_inv(Rd'*R - R'**Rd**), then it can match the paper 'Geometric tracking control of a quadrotor UAV on SE (3)' CDC. 2010.

-- or u defined a new att_error different from the paper's ?
edits:
-- the position controller gains Kp, and K

[2021-10-07 10:16] shubham-shahh opened #196 "mavros_controllers with Ardupilot"
Hi, I am using the Ardupilot firmware along with mavros_controllers but the UAV starts with a random motion and crashes. please refer [this](https://discuss.ardupilot.org/t/mavros-setpoint-raw-attitude-not-working/74523) issue for more info

thanks @Jaeyoung-Lim

[2021-10-07 11:50] Jaeyoung-Lim commented on #195
@sligeek100 Thanks for reporting this,

indeed, I think you might be right. Would you be able to make a PR with the fix?

[2021-10-07 11:54] shubham-shahh commented on #196
can you please look into this[this](https://discuss.ardupilot.org/t/mavros-setpoint-raw-attitude-not-working/74523) and let me know if I am doing something worng?

[2021-10-10 11:45] #196 closed

[2021-10-11 04:13] shubham-shahh commented on #194
Hi, I am trying to use [this](https://github.com/ZJU-FAST-Lab/ego-planner) planner along with [E2ES](https://github.com/HKPolyU-UAV/E2ES) simulation. I am passing the trajectory obtained from the planner to mavros controller and generating attitude controls and passing it to e2es simulation and the quad is not responding to the output of the mavros controllers

[2021-10-13 09:48] shubham-shahh opened #199 "bodyrate units? deg/s or rad/s"
Hi, I was curious what is the unit of body rates published by mavros controllers? which is published on topic /mavros/setpoint_raw/attitude? @Jaeyoung-Lim @mzahana

[2021-10-13 09:59] mzahana commented on #199
rad/s

[2021-10-13 10:42] #199 closed, assigned to nobody

[2021-10-21 04:59] shubham-shahh opened #200 "in which co-ordinate frame the body rates are published"
I was curious, In what co-ordinate frames the mavros_controllers publish the body rates on topic /mavros/setpoint_raw/attitude

thanks

[2021-11-17 19:18] Jaeyoung-Lim commented on #195
@sligeek100 Probably also a bug introduced by recent mavros. Would you be able to create a fix for this?

[2021-11-17 19:18] Jaeyoung-Lim commented on #194
@shubham-shahh I suspect that you are publishing setpoints to the wrong topics.

[2021-11-20 19:09] #195 closed

[2021-12-13 21:43] sivasriram2112 opened #201 "Quad not following the circular trajectory"
Hi, I am getting the following error when I fly execute . The quad doesn't startup and wobbles in and around the starting point
[code]

[code]

[2021-12-23 05:47] adbidwai opened #202 "Unable to run sitl_multi_vehicle_track_circle.launch"
## System Configurations
**OS**: Ubuntu 18.04
**ROS Distro**: Melodic

## Error
[code]

![image](https://user-images.githubusercontent.com/46625413/147194175-745cc8cd-00a5-418e-a789-d305e7a10674.png)

[2021-12-23 07:14] Jaeyoung-Lim commented on #202
Instructions on how to install xmlstarlet is in https://docs.px4.io/master/en/simulation/multi_vehicle_simulation_gazebo.html

[2021-12-23 07:15] #194 closed

[2021-12-23 07:15] #187 closed

[2021-12-23 08:25] shubham-shahh commented on #194
It was not related to topics, there were some version conflicts. I am sorry I didn't post a update.

thanks

[2021-12-24 03:46] #192 closed

[2021-12-26 11:12] mzahana commented on #201
@Jaeyoung-Lim I am facing a similar problem.
The iris quadcopter model basically shoots up and the goes unstable before it crashes into the ground in Gazebo.
I am just using the `roslaunch geometric_controller sitl_trajectory_track_circle.launch with no modifications.

Any hints on what would be the issue?
I didn't face this issue using old versions of the geometric_controller, can't remember whic

[2021-12-26 11:25] mzahana commented on #201
Update:
After some tuning, for the `iris` Gazebo model, I was able to track the circular trajectory
[code]

[2021-12-27 11:06] Jaeyoung-Lim commented on #201
@mzahana Would you be able to make a PR with the additional tuning?

[2021-12-27 14:09] Ayush1285 opened #203 "px4 inbuilt controllers and geometric controller"
If we launch posix_sitl.launch then px4 will run its inbuilt control modules (that's mc_pos_ctrl,mc_att_ctrl,mc_rate_ctrl) and since we are running geometric controller node parallelly, therefore there will be two controllers running simultaneously, how you've sorted this issue?

[2021-12-27 14:52] Jaeyoung-Lim commented on #203
@Ayush1285 This repository is using the offboard interface and therefore is able to bypass the cascaded loop depending on what kind of setpoint you are sending. You can read more on how offboard mode works in https://docs.px4.io/master/en/flight_modes/offboard.html

[2021-12-27 17:38] Ayush1285 commented on #203
Since you are sending Attitude Target setpoint that's why it can bypass position ctrl loops, right?
So, it is like, you're using the geometric controller for position control and then using cascaded attitude and rate controllers of px4 to achieve attitude target set by geometric control.
Please correct me if I am wrong😅

[2021-12-27 17:41] sivasriram2112 commented on #201
Thank you @Jaeyoung-Lim  and @mzahana for your replies, I was able to try the previous branch devel-parameter-estimator without any issues. I'll try the tuning parameters from @mzahana.

[2021-12-28 07:48] Jaeyoung-Lim commented on #203
@Ayush1285 This package contains code for sending various setpoints such as position/velocity/acceleration or attitude rates(body rates).

By sending attitude rates we are only using the rate controller of PX4

[2021-12-28 08:33] Ayush1285 commented on #203
okay, thanks for the info.

[2021-12-28 08:33] #203 closed

[2021-12-28 20:49] #202 closed

[2022-01-14 14:19] RBKing20 commented on #201
@mzahana Thank you very much for providing these parameters!
I am curious about how to tune parameters such as attctrl_constant, normalizedthrust_constant.
How are they calculated, and is there a more efficient way to tune the Kp Kv parameters?

[2022-01-14 14:21] mzahana commented on #201
I believe @Jaeyoung-Lim  can answer that.

[2022-01-22 08:55] #201 closed

[2022-02-11 09:41] shubham-shahh opened #205 "Failsafe controller implementation"
Hi,
do you have any plans of implementing Failsafe controllers? which can handle landing without a position estimate?

thanks

[2022-02-17 13:06] shubham-shahh commented on #205
Hi, In case of a flight where the autopilot has no secondary sources to fallback, there is a need of a failsafe controller which can aid landing without a position estimate.
If we implement a failsafe controller in this package, mavros_controllers can be used as an end to end solution for vision based flights where there are no other sources to fallback

thanks

[2022-02-17 14:15] Jaeyoung-Lim commented on #205
Not sure if I understand this correctly. The flight controller already has safety fallbacks and can safely land without position estimates. If we want a fallback policy it should be inside the flight controller and not on the companion computer since the flight controller is more reliable than the companion computer in general

[2022-02-17 17:52] shubham-shahh commented on #205
Hi, for example this [package](https://github.com/ctu-mrs/mrs_uav_controllers) implements a failsafe controller. If I am not wrong, without any external postion estimate, autopilot can only depend on dead reckoning based method for landing, and the drift  is accumulated, which results in a poor landing, please correct me if I am wrong or I'm missing out on something

[2022-02-21 10:45] brunopinto900 opened #206 "Auto-tuning"
Hello,

Do you think its possible to write a script to tune the geometric controller automatically with logs? The idea is to tune the controller gains for any quadrotor, update them on the respective config files. What do you think? I am looking for a self-contained project and this seems like a good idea.

Thank you.

[2022-02-21 11:11] Jaeyoung-Lim commented on #206
@brunopinto900 Sounds cool! And should be doable. If your interested, we already worked on a system identification pipeline through flight logs: https://github.com/ethz-asl/data-driven-dynamics

[2022-02-21 11:17] brunopinto900 commented on #206
Haha, found that work literally 5 minutes later.

[2022-02-21 11:23] Jaeyoung-Lim commented on #206
@brunopinto900 So lissajous trajectories are just a nice way to excite the system and this is what I used for  https://github.com/ethz-asl/data-driven-dynamics

Could be used for autotuning, but not necessarily required.

[2022-02-21 12:04] brunopinto900 opened #207 "More controllers"
Sorry for opening another issue. Do you have any plans to add other controllers? If so, can you tell the reference papers? For example i was planning do add this https://foehnx.github.io/publication/icra18/ but its already done here https://github.com/llanesc/lqr-tracking.

Thank you.

[2022-02-21 12:15] Jaeyoung-Lim commented on #207
@brunopinto900 Would be definitely cool to have that as part of this package, and we can then start doing benchmarks etc

[2022-02-21 13:29] Jaeyoung-Lim commented on #207
@brunopinto900 Personally, I would be interested on adding a predictive controller, e.g. a MPPI(Model Predictive Path Integral Controller) or a MPCC(Model Predictive Contouring Control) but probably a lot more work than a full state LQR :wink:

[2022-02-21 15:07] brunopinto900 commented on #207
A model predictive control with collision avoidance would be nice. We can start by first implementing a linear MPC with no collision avoidance, then start integrate collision avoidance with RRT using OMPL (similar to PX4-Obstacle_avoidance repo). The MPPI is nice, but the math is so dull haha.

[2022-02-27 10:38] Jaeyoung-Lim commented on #205
@shubham-shahh I think the dead reckoning part really doesn't change whether you have a failsafe controller outside the fmu. (which the fmu already has in the PX4 case)

[2022-02-27 12:39] brunopinto900 opened #208 "Invalid commands"
Installed everything and i can launch the simulation with: roslaunch geometric_controller sitl_trajectory_track_circle.launch.
I tried two FCU URL: 1) the default local host ; 2) my WSL2 host address. Gazebo and RViz opens. I can see the 3d reference trajectory moving in RViz. My specs are: Ubuntu 20, WSL2

However the drone doesn't take off. This is the output when i run

roslaunch geometric_cont

[2022-02-27 14:09] Jaeyoung-Lim commented on #208
@brunopinto900 In the logs you can see that Failsafe is being enabled:
[code]

It's probably because you don't have QGC enabled and you didn't disable the failsafe

[2022-02-27 14:41] brunopinto900 commented on #208
Thank you. How do i disable the failsafe? One things, do i need special modifications to run the code on WSL2?

[2022-02-27 15:13] Jaeyoung-Lim commented on #208
@brunopinto900 Have you tried running QGC on parallel to see if this is indeed the problem?

I have never used WSL2 so I have no idea

[2022-02-27 15:38] brunopinto900 commented on #208
I will try to run the QGC and let you know.

[2022-02-27 17:23] brunopinto900 commented on #208
@Jaeyoung-Lim QGC didn't solved the issue.  I changed branch in PX4 Firmware: git checkout v1.12.3. Its working now.

[2022-02-27 17:42] Jaeyoung-Lim commented on #208
@brunopinto900 I don't think that is a solution but a workaround.

[2022-02-27 17:57] brunopinto900 commented on #208
Its not a solution, i am aware, but right now i just want to implement a project and when the time comes i can come back to this issue.

[2022-03-01 16:08] brunopinto900 opened #209 "Obstacle avoidance Model Predictive Control"
Hello,

I am integrating https://github.com/llanesc/lqr-tracking into this package. I can leverage that to implement a Model Predictive Controller. The goal is to use the MPC as an obstacle avoidance local planner, rather than just a plain controller. However this gets out the scope of this package. Can you give me advice/suggestions on how to approach this?

Thank you.

[2022-03-02 03:07] Jaeyoung-Lim commented on #209
@brunopinto900 Not sure if I understand this correctly.

The state dependent LQR is not a predictive controller. How would this be related to a Model Predictive Controller?

I am not aware of what the scope of this package should be :smile: Could you elaborate?

[2022-03-18 14:42] Jaeyoung-Lim commented on #209
@brunopinto900 Any updates regarding the LQR?

[2022-03-18 14:46] brunopinto900 commented on #209
@Jaeyoung-Lim Already coded everything. Compiles and the logic is correct, however the SITL says on the terminal that the battery is below the limit haha. I was working on the PX4 Obstacle Avoidance.

[2022-03-18 15:20] Jaeyoung-Lim commented on #209
@brunopinto900 Thanks for the update!

[2022-03-18 15:26] brunopinto900 commented on #209
@Jaeyoung-Lim Yes. Will do it in the next minutes.

[2022-03-27 04:14] nlpng opened #211 "trajectory publisher service interface"
I just came across this great code base, and had successfully run the example of `sitl_trajectory_track_circle.launch`, however when I  started to go through the implementation of the `trajectory_publisher.cpp`, I am confused with the service defined in trajectory_publisher. It looks like the circle example is publishing the FlatTarget message using the `refloop_timer_` callback, and the target re

[2022-03-27 05:51] Jaeyoung-Lim commented on #211
@nlpng The service is there to give the possibility that either an external node or even directly from a service caller in rqt can trigger a trajectory.

[2022-03-30 08:29] shubham-shahh commented on #127
Hi @Jaeyoung-Lim , is this fixed? because I am facing the same issue

[2022-03-30 08:30] Jaeyoung-Lim commented on #127
@shubham-shahh It should be fixed.

[2022-03-30 09:11] shubham-shahh opened #212 "How to resolve initial Jerk"
Hi,
I @Jaeyoung-Lim I am able to run mavros_controllers with ardupilot sucessfully. but currently I am facing some issues, below, I have added a [video](https://drive.google.com/file/d/1ZCujY8zKfzPv9LbHs-Bh41KcUAwKCbk8/view?usp=sharing) describing the problem. I want to know what causes initial jerk and how can I resolve it.

Thanks

[2022-04-01 14:24] Jaeyoung-Lim commented on #212
@shubham-shahh Do you have a log? I suspect it has something to do with the feedforward references that is being passed

[2022-04-01 15:40] shubham-shahh commented on #212
Hi, I am sorry, I might not have logs for the same flight. but I made a new video, this time I had a way better flight after reducing max_acc from 5 to 4, attctrl_constant to 0.55. also, I reduced the maximum yaw rate given by the path planner to 0.52 which was earlier 3.14 because of Iris's limitation. here's the [video](https://drive.google.com/file/d/1JNCqOzbGPELfTQP38BEBreEyp2Wped2y/view?usp=s

[2022-04-01 15:59] Jaeyoung-Lim commented on #212
@shubham-shahh When passing a trajectory to the controller, normally it is better to send velocity, acceleration alongside the position so that the controller can deal with setpoints changing dynamically.

It also seems like you are using Ardupilot, which might mean that there might be something going on on the firmware side.

[2022-04-01 16:28] Jaeyoung-Lim commented on #212
@shubham-shahh Have you tried removing yaw and yaw rate?

[2022-04-01 17:08] shubham-shahh commented on #212
I've not tried that yet, but I'll try that and update this thread, thanks

[2022-04-06 08:30] O2KAN opened #213 "Actualy Mine is not an issue. Just wondering"
Currently, I am doing a project. In that project, there are two-controller upper and lower. In lover control which will be px4 (in real system pixhawk). The upper controller will be Jetson nano or now my computer. In Jetson nano, I have some python codes that solve swarm behaviour. I have one problem now, I would like to send my desired positions that come from the swarm code which is python to th

[2022-04-06 08:33] Jaeyoung-Lim commented on #213
@O2KAN Not sure what you mean by a bridge. This repo already has an example of multivehicle deployment. You can simply change the trajectory reference to a centralized trajectory publisher to control the vehicles in a coordinated way

[2022-04-06 08:46] O2KAN commented on #213
The bridge is something for connecting python code to ros not like ros bridge or whatever. I will try to do that after fixing some errors. Probably like you said publish the result of my python code and subscribe to them. How to make them the same frequency and simultaneously?

[2022-04-06 08:48] Jaeyoung-Lim commented on #213
@O2KAN You can publish at the same frequency using rospy

[2022-04-08 05:09] shubham-shahh commented on #212
Hi @Jaeyoung-Lim, I tried your suggestion and turned off yaw and yaw rate, it worked fine but that is not the desired behaviour, since copter's heading plays a vital role for obstacle avoidance. though I think with the attitude controller tuning of copter, I can solve it.
I want to try this setup in real world and after reading all the issues/discusssions in this repo I still couldn't find a concr

[2022-04-08 11:20] Jaeyoung-Lim commented on #212
I am not sure if this is true. I would try to find out why exactly the problem is happening. Could you elaborate on how you made the conclusion that it is a tuning issue?

[2022-04-08 11:44] shubham-shahh commented on #212
Hi, Thanks for the response, from the logs attached above, I compared the desired Roll/Pitch/Yaw with attained Roll/Pitch/Yaw and there's a difference, visualised in the picture attached
![Screenshot from 2022-04-08 17-07-50](https://user-images.githubusercontent.com/51359628/162428971-6af4331d-3a5b-4aeb-b5f9-466d861943bc.png)

I am referring to tuning of ardupilot's attitude controller.

what are

[2022-04-08 12:06] shubham-shahh commented on #212
The velocity_yaw feature is making the copter crash because it is giving super high yaw rates which the iris is not able to handle
![Screenshot from 2022-04-08 17-34-55](https://user-images.githubusercontent.com/51359628/162432331-2bc2507b-1290-464f-b756-0d675b385d34.png)

[2022-04-08 12:35] romaster93 opened #214 "I don't know where the drone's trajectory is decided."
hi

I am studying this package. I'm looking at the example and studying the code,
but I don't know what message to send the target point to the drone.

I think that in mavros_controllers/geometric_controller/src/geometric_controller.cpp,
the drone with px4 can change the mode, arminig, and set the target point.

But I don't know where the command to get the drone to the target is coming from. May

[2022-04-09 05:36] Jaeyoung-Lim commented on #214
@romaster93 The reference is published from the `trajectory-publisher`

[2022-04-13 12:54] shubham-shahh commented on #212
Hi @Jaeyoung-Lim, any update on this?

[2022-04-16 09:23] #213 closed

[2022-04-18 15:42] #211 closed

[2022-04-18 15:43] #214 closed

[2022-04-19 07:33] Jaeyoung-Lim commented on #212
@shubham-shahh Sorry for the late reply,

I think the current implementation of this repo assumes that you have either a yaw rate reference or a yaw reference. You can also tune down the yaw reference if it is making the vehicle crash (although, this should be something the autopilot should be able to handle, if it is capable of dealing with saturation).

I would try to check if this is coming fro

[2022-04-19 08:16] shubham-shahh commented on #212
Hi @Jaeyoung-Lim, Thanks for the response. I have yaw-rate coming for the trajectory planner. In the velocity_yaw feature, yaw rate  [calculation ](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/d3e0fa0e1873cdfdf3233b6777e8f67818137a64/geometric_controller/include/geometric_controller/geometric_controller.h#L211) might result in huge changes which are not compatible with iris in simulatio

[2022-04-19 08:28] Jaeyoung-Lim commented on #212
@shubham-shahh As long as you have the autopilot safe from huge yaw rate calculations, This hand tuning should not be a problem. You can try to eyeball the constants from your vehicle's dynamic properties but not sure how this is done in ardupilot

What is missing is that you are getting yaw rates from a high level controller, while the low level control (`geometric_controller`) is assuming that i

[2022-04-19 08:46] shubham-shahh commented on #212
@Jaeyoung-Lim, okay I will try the hand-tuning method and will look into finding a way to get the constants with ardupilot

can we place some upper bounds on the yaw rates the geometric controller can give out? In real world experimentations, I think this will be really critical

thanks

[2022-04-19 08:52] Jaeyoung-Lim commented on #212
@shubham-shahh Sure why not - would tou be able to make the addition?

[2022-04-19 09:09] shubham-shahh commented on #212
@Jaeyoung-Lim, In your opinion, which is a good place to place these bounds?

thanks

[2022-04-21 05:25] shubham-shahh opened #215 "need a new branch"
Hi @Jaeyoung-Lim,
I was thinking of pushing the changes required to make mavros_controllers work with ardupilot, if you can make a separate dedicated branch that would be awesome since there are a lot of changes I can make in the readme as well.

thanks and regards

[2022-04-21 05:52] Jaeyoung-Lim commented on #215
@shubham-shahh I would not want to create a separate branch just for ardupilot, since this would be hard to maintain. Since this package is interacting with mavros, the changes in the code required should be minimal.

If this is mainly for documentation, would it be better if we create a section in the readme for ardupilot? (or a wiki page)

[2022-04-21 05:59] shubham-shahh commented on #215
Hi, @Jaeyoung-Lim  thanks for the response, I can provide full support and maintenance required for the branch. I wanted a new branch so that we can have an independent implementation of fixes/features etc for the required firmware.

do let me know your thoughts on this

thanks

I'll try to add the solution to the current implementation

[2022-04-21 06:11] Jaeyoung-Lim commented on #215
@shubham-shahh I still think it is beneficial on both sides to have a single implementation that works for both.

IMHO, if you need an independent implementation just for your use case, there is no benefit of having a separate branch in the main repository, but a separate fork.

[2022-04-21 09:22] shubham-shahh commented on #215
@Jaeyoung-Lim, I understand your view, it is not specific to my use case and hence I am willing to add a PR to the main repo

keeping your concern in mind, I'll add the changes to the main repo and add the required documentation in the current readme in  a separate section

Thanks

[2022-04-21 09:22] #215 closed

[2022-04-21 09:24] Jaeyoung-Lim commented on #215
@shubham-shahh Thanks!

[2022-05-16 07:58] Jaeyoung-Lim commented on #212
@Jaeyoung-Lim Any updates regarding the problem?

[2022-05-16 10:38] shubham-shahh commented on #212
I haven't worked on it for a while, but soon I'll conclude it. I wanted to ask you one thing,
In your opinion, shall I add a max limit [here](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/d3e0fa0e1873cdfdf3233b6777e8f67818137a64/geometric_controller/src/geometric_controller.cpp#L312)?

or shall I add it as a constraint in the controller itself?

thanks

[2022-05-19 11:34] erha527 opened #217 "roslaunch mavros_posix_sitl.launch WARN [PreFlightCheck] Preflight Fail: Accel 1 inconsistent - Check Cal"
Hi~
    I am having issues running the  mavros_posix_sitl.launch on my px4-mavros-gazebo sitl. When I    `roslaunch mavros_posix_sitl.launch`    ,I meet an issue that __

WARN  [PreFlightCheck] Preflight Fail: Accel 1 inconsistent - Check Cal

so that  I can not arm the vehicle ,and I can also not use the qgc to arm.But when I  change the

 `_<arg name="vehicle" default="iris"/> to <arg name="vehi

[2022-05-19 11:51] Jaeyoung-Lim commented on #217
@erha527 `mavros_posix_sitl.launch` is not part of this repository. This is part of PX4: https://github.com/PX4/PX4-Autopilot/blob/master/launch/mavros_posix_sitl.launch

[2022-05-19 12:33] erha527 commented on #217
oh~sorry

ohoh~sorry

[2022-05-21 04:27] shubham-shahh commented on #212
Hi @Jaeyoung-Lim, any update on this?

[2022-05-21 06:49] Jaeyoung-Lim commented on #212
@shubham-shahh sorry, I think you need to do both. Controller should be able to be robust against degenerate signals and your planner should not generate those signals to start with

[2022-05-21 07:27] shubham-shahh commented on #212
Okay, thanks for the response, I'll look into it

[2022-05-27 12:35] #217 closed

[2022-06-10 02:35] wahihijames opened #218 "when i meet Error while "Running the code""
I typing and start --> $ roslaunch geometric_controller sitl_trajectory_track_circle.launch

but I meet this error.
To solve the problem, what should I do?

(설치 다 끝내고, 실행 시키니깐, 아래와 같이 에러가 나와요)
어디가 문제여서 발생한 걸까요?

[code]
[ This is my log ]
아래는, 제가 실행 했을때, 터미널에서 나온 메시지 입니다.
[code]

[2022-06-10 07:09] Jaeyoung-Lim commented on #218
[code]
Are you sure you have built PX4 SITL and run the sitl gazebo environment without using mavros?

[2022-06-10 08:55] wahihijames commented on #218
Thank you Reply.
I solved my issue.
Although catkin_ws was already installed, it was installed again, and the path was tangled.

I have another question.
$roslaunch geometric_controller sitl_trajectory_track_circle.launch
When I run , all Gazebo etc. appear, but the drone is only arming and not taking off. (See attached video) What did I do wrong? The log file generated by QGroundControl is attach

[2022-06-10 09:43] Jaeyoung-Lim commented on #218
@wahihijames Was the problem solved?

On the video it looks like the video has already crashed to the ground

[2022-06-10 13:09] wahihi commented on #218
Thank you. your Reply.
I solved this problem. Just Rebooting my Ubuntu..  It's likes crazy.   Ubuntu looks like Windows OS..  :)

[2022-06-10 13:12] Jaeyoung-Lim commented on #218
@wahihi Great to hear that it was fixed! Closing!

[2022-06-10 13:12] #218 closed

[2022-06-16 09:20] halil93ibrahim commented on #215
Hi @shubham-shahh, I am having problems using the controller with Mavros/Ardupilot SITL. It seems you have solved issues with that. Do you have any particular version in this or your forked repo that works well with Ardupilot SITL?

[2022-06-16 09:23] halil93ibrahim commented on #212
Hi @shubham-shahh, I am also having problems with Ardupilot SITL. Do you suggest any particular versions of Ardupilot and mavros_controller to start working with?

[2022-06-16 09:24] shubham-shahh commented on #212
The latest version works best but you should aim for at least 4.2.0. please describe your issue in more detail

[2022-06-16 09:34] halil93ibrahim commented on #212
Thanks for the prompt response! I am using SITL in Webots simulations, which restricts me with an old version. I will first try to set everything with the latest versions, and then try the controller again.

[2022-06-16 09:52] shubham-shahh commented on #212
Ardupilot doesn't support SET_ATTITUDE_TARGET message to use rate control in older versions.

[2022-06-17 08:39] halil93ibrahim commented on #212
Hi again, I updated Ardupilot and now I can command SET_ATTITUDE_TARGET using rostopic mavros/setpoint_raw/attitude.

Now, I am getting an error message: "MODE: Unsupported FCU" when I launch geometric controller. Can you help me with that? What should I change when I launch it?

[2022-06-17 09:59] shubham-shahh commented on #212
Hi, So, you are facing issues because of [this](https://github.com/Jaeyoung-Lim/mavros_controllers/blob/master/geometric_controller/src/geometric_controller.cpp#L268:~:text=ros%3A%3ATimerEvent%20%26event)%20%7B-,if%20(sim_enable_)%20%7B,%7D,-%7D) code block
since ardupilot doesn't have any mode called "OFFBOARD" the equivalent there is GUIDED. you can either change the mode there, or disable
`sim_

[2022-06-17 12:20] halil93ibrahim commented on #212
Thanks for the help.

After this fix, it stopped giving "mode offboard" error, but still, it cannot follow the trajectory. It diverges in one direction and crushes to the ground.

I tried also smaller and higher values than the controller parameters that you provided since I am using the sitl ardupilot model in Webots simulation, different than Iris. The result is the same.

I checked the mavros/s

[2022-06-17 12:33] shubham-shahh commented on #212
if you can describe your issue with more description, we might be able to help. you can also share your SITL logs so I can check, what's causing the issue for you

[2022-06-17 14:42] Jaeyoung-Lim commented on #212
@halil93ibrahim Have you tried giving it a fixed reference and see if the vehicle is controlled?

For me it looks like the inputs from the controllers are not being updated

[2022-06-17 15:28] halil93ibrahim commented on #212
Hi, I am not sure how should I try giving a fixed reference.
In this video, I have disabled trajectory_publisher node in the launch file. Is it what you mean? https://drive.google.com/file/d/1-mTsYekKFkWlYdtiXVC1QjcdNEczm01V/view?usp=sharing

[2022-06-19 01:02] xldoooooo opened #219 "A new problem"
hello, I met some problems when trying to  catkin build
here is the problem I met
/home/xld/catkin_ws/src/mavros_controllers/geometric_controller/include/geometric_controller/geometric_controller.h:66:10: fatal error: controller_msgs/FlatTarget.h: 没有那个文件或目录
   66 | #include <controller_msgs/FlatTarget.h>

[2022-06-19 01:14] xldoooooo commented on #219
Errors     << geometric_controller:make /home/xld/catkin_ws/logs/geometric_controller/build.make.002.log

[2022-06-19 01:35] xldoooooo commented on #219
I succeed with catkin clean, catkin build

[2022-06-19 01:35] #219 closed

[2022-06-20 05:25] shubham-shahh commented on #212
can you please share your ardupilot logs?

[2022-06-20 05:47] shubham-shahh commented on #212
Hi @halil93ibrahim, After analyzing your logs, from the below images we can clearly see, that your copter is not able to attain attitude rates in Roll, Pitch, and Yaw rate, and Yaw control looks really bad
![Screenshot from 2022-06-20 11-13-30](https://user-images.githubusercontent.com/51359628/174533284-8d1837b4-e652-4ec9-9653-7e9afe6d00b9.png)
ng)
![Screenshot from 2022-06-20 11-13-59](https://u

[2022-06-20 05:52] shubham-shahh commented on #212
What you can try is, either tune your copter's controller aggressively or add constraints to the controller (which I may add in next PR as discussed with @Jaeyoung-Lim )

[2022-06-22 09:57] ZhongmouLi opened #220 "Gazebo simulation: drone in Gazebo not moving but frames in Rviz moving"
Hi Guys,

I just met a very strange case when I used this package in px4-mavros-gazebo simulation.

Following the instructions [here](https://github.com/Jaeyoung-Lim/mavros_controllers), I am able to run both

- `roslaunch px4 posix_sitl.launch` to get a Gazebo world with a iris drone model

- `roslaunch geometric_controller sitl_trajectory_track_circle.launch` to run the controller without error.

[2022-06-28 03:06] nswang1994 opened #221 "roslaunch geometric_controller seems to be not working"
Here is the error output:

Resource not found: px4
ROS path [0]=/opt/ros/melodic/share/ros
ROS path [1]=/home/ubuntu/catkin_ws/src/catkin_simple
ROS path [2]=/home/ubuntu/catkin_ws/src/mavros_controllers/controller_msgs
ROS path [3]=/home/ubuntu/catkin_ws/src/eigen_catkin
ROS path [4]=/home/ubuntu/catkin_ws/src/mavros_controllers/geometric_controller
ROS path [5]=/home/ubuntu/catkin_ws/src/mav_com

[2022-07-04 17:51] Jaeyoung-Lim commented on #221
@nswang1994 The readme explains how to setup your environment. I believe you have skipped this step: https://github.com/Jaeyoung-Lim/mavros_controllers#install-px4-sitlonly-to-simulate

[2022-07-04 17:51] Jaeyoung-Lim commented on #220
@ZhongmouLi Thanks for the update!

[2022-07-04 17:51] #220 closed

[2022-07-04 17:55] Jaeyoung-Lim commented on #209
PR: https://github.com/Jaeyoung-Lim/mavros_controllers/pull/210

[2022-07-04 17:55] #209 closed

[2022-07-04 17:55] #207 closed

[2022-07-04 17:56] Jaeyoung-Lim commented on #206
Closing as stale

[2022-07-04 17:56] #206 closed

[2022-07-04 18:52] nswang1994 commented on #221
Thank you Jaeyoung. It works well now.

[2022-07-04 18:52] #221 closed

[2022-07-14 21:39] ZhongmouLi opened #222 "implement to real world flights"
Hi, Jaeyoung,

Thanks for your developed controller and it is really helpful to test algorithms.

It would be perfect if we can use this controller in real world flights. Do you have any plan to extend this controller for that purpose?

[2022-07-15 05:06] Jaeyoung-Lim commented on #222
@ZhongmouLi This package already works for real vehicles, and if you look into the closed issues numerous people have flown / are flying it on real systems

Is there anything missing on yourside to integrate this on a real system?

[2022-07-19 23:19] ZhongmouLi commented on #222
Hi, @Jaeyoung-Lim thanks for your reply.

I find your rep very user friendly for people in terms of drone simulation. It does save their time from setting environments and configurations.

For instance, I followed your instructions in readme to test controllers in gazebo simulation, which is well detailed. It motivates me to apply it on a real drone.

However, I find it harder to apply your contro

[2022-07-20 05:35] Jaeyoung-Lim commented on #222
@ZhongmouLi Thanks for the suggestion

It is a lot harder to make a guideline in the manner you suggested, since everyhardware is different and there is no standard hardware setup that is commonly shared.

If you are interested in impro

[2022-08-04 07:50] Jaeyoung-Lim commented on #222
@ZhongmouLi Any updates?

[2022-08-04 08:43] ZhongmouLi commented on #222
Hi @Jaeyoung-Lim ,

I am applying mavros_controllers in real experiments. It is still under testing. I would like to contribute a guideline to implement  mavros_controllers with Pixhawk5 (PX4 1.13).

I will let you know you after my tests.

[2022-08-12 20:13] Jaeyoung-Lim opened #225 "Videos from the community!"
# Community videos

- Video from @kashishdhal (https://github.com/Jaeyoung-Lim/mavros_controllers/issues/130#issuecomment-652622054)
[![SquateTrajectory](https://img.youtube.com/vi/0Y7Wr3JIEKA/0.jpg)](https://youtu.be/0Y7Wr3JIEKA "Square trajectory tracking")

- Video from @edwinpha (https://github.com/Jaeyoung-Lim/mavros_controllers/issues/185#issuecomment-904490331)

https://user-images.githubus

[2022-08-22 09:25] Jaeyoung-Lim commented on #222
@ZhongmouLi I have created a thread where people have shared videos of their system working in https://github.com/Jaeyoung-Lim/mavros_controllers/issues/225

Hope this helps

[2022-08-22 09:37] ZhongmouLi commented on #222
@Jaeyoung-Lim thanks for sharing this infor and it is very helpful to meet other people using mavros_controllers in real flights.

[2022-09-07 04:45] ZifeiJiang opened #227 "Actuator Control in Real World"
Hi Jaeyoung, 

I know you are an expert on Mavros controllers. I have googled about the mavros offboard control on internet. I have found examples of controlling the outer loop of a quad in offboard control mode, which sends body rate and attitude to px4, basically the same as in this repo. 

I am wondering whether it is possible to use [actuator control](http://docs.ros.org/en/api/mavros_msgs/htm

[2022-09-09 22:00] Jaeyoung-Lim commented on #227
@ZifeiJiang In principle there is nothing stopping you from using actuator control.

However what you need to be careful is the timedelay of sensor measurements to actuator commands that require a round trip to the companion computer. This requires you to have a very fast and reliable link between the companion computer and firmware. Normally the time delay introduced by the link is large enough t

[2022-10-21 13:51] ayhamalharbat opened #228 "[question] Math behind converting attitude errors to body rates"
Hi @Jaeyoung-Lim ,

I have a couple of questions:
1. What is the logic/math behind converting the non-linear attitude errors to angular velocity setpoints (as shown below)? is there a physical meaning to this conversion and to the constant `attctrl_tau_`?
https://github.com/Jaeyoung-Lim/mavros_controllers/blob/8b3fff0327b56c415aa24708bea5f37d76307404/geometric_controller/src/nonlinear_geometric_co

[2022-11-11 16:41] Cavalletta98 opened #229 "Tune for PX4"
Hi, which are the parameters for a drone with PX4 fw onboard? I'm using version 1.13.1 of the fw
Thanks

[2022-11-11 16:50] Jaeyoung-Lim commented on #229
@Cavalletta98 Not sure if I follow your question.

You need to tune your vehicle and the guidelines can be found in https://docs.px4.io/main/en/config_mc/pid_tuning_guide_multicopter.html

[2022-11-11 17:03] Cavalletta98 commented on #229
I will explain what i'm doing. I'm combining the [Fast Planner](https://github.com/HKUST-Aerial-Robotics/Fast-Planner) with PX4 fw in simulation (ROS + gazebo). To do so, i'm using this controller to send the trajectory to the drone. To send the trajectory from Fast Planner to the controller, i'm using this [code](https://github.com/mzahana/px4_fast_planner/blob/master/scripts/trajectory_msg_conve

[2022-11-11 17:04] Cavalletta98 commented on #229
<arg name="mav_name" default="iris"/>
  <arg name="command_input" default="2" />
  <arg name="gazebo_simulation" default="true" />
  <arg name="max_acc" default="5.0" />
  <arg name="init_pos_x" default="0.0" />
  <arg name="init_pos_y" default="0.0" />
  <arg name="init_pos_z" default="2.0" />

  <node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller" output=

[2022-11-11 17:06] Jaeyoung-Lim commented on #229
@Cavalletta98 This implementation sends body rate commands to the vehicle. Therefore, you need to tune the rate controller of the vehicle to ensure that the vehicle is capable of tracking the reference before using this package. I have posted the link which explains how to do this in the previous answer

[2022-11-11 17:08] Cavalletta98 commented on #229
Ok,thanks. I Will try to follow it

[2022-11-11 17:09] Jaeyoung-Lim commented on #229
@Cavalletta98 I already posted the link, in my first answer to your question

[2022-11-14 13:58] Cavalletta98 commented on #229
I'm trying to use it but it is not so easy to do it. According to you, do you know a "better" way to use the trajectory of the Fast Planner with px4 fw?

[2022-11-15 18:20] mzahana commented on #221
@Jaeyoung-Lim There is an issue with running multiple vehicles in simulation. With recent firmware versions (v1.13.1), virtual joystick has to be enabled in QGC to be able to arm and set OFFBOARD mode. However, this can be done for 1 vehicle at a time. If I switch vehicles in QGC, the other vehicle(s) go to failsafe mode.

How to solve this issue?
Thanks